{% extends 'layout-nav.html' %}
{% set pageSection = "Edit user notifications" %}

<!-- this page is only visible to prod-accessreport group -->

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications">Edit user notifications</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/manage-banner/manage-service-banner">Manage the service banner</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/manage-banner/schedule-banner/select-incident">Incident categories</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/manage-banner/schedule-banner/select-incident/supplier-incidents">Supplier incidents</a></li>
        <li class="nhsuk-breadcrumb__item">iProov incident</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/notifications/manage-service-banner">Back to: Access and permissions</a></p>
    </div>
  </nav>
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

{% block content %}

<style>

</style>


<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="#">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back</a>
</div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-4">

        <h1 class="nhsuk-heading-l">Confirm incident details</h1>

    </div>
  </div>

  <dl class="nhsuk-summary-list">

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Category
      </dt>
      <dd class="nhsuk-summary-list__value">
        3rd party supplier incident
        <p class="nhsuk-hint">Network or a technical issue with a supplier regardless of the user volume</p>
      </dd>
  
      <dd class="nhsuk-summary-list__actions">
  
        <a href="activate-banner5">
          Change<span class="nhsuk-u-visually-hidden"> name</span>
        </a>
  
      </dd>
  
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Affected supplier
      </dt>
      <dd class="nhsuk-summary-list__value">
        iProov
        <p class="nhsuk-hint">Affecting users registering and uplifting to P9</p>
      </dd>
  
      <dd class="nhsuk-summary-list__actions">
  
        <a href="activate-banner6">
          Change<span class="nhsuk-u-visually-hidden"> name</span>
        </a>
  
      </dd>
  
    </div>
  
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        How severe is the impact?
      </dt>
      <dd class="nhsuk-summary-list__value">
        Service is down
        <p class="nhsuk-hint">Users cannot continue their journey</p>
      </dd>
  
      <dd class="nhsuk-summary-list__actions">
  
        <a href="activate-banner7">
          Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
        </a>
  
      </dd>
  
    </div>
  
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
       Is it a planned service maintenance?
      </dt>
      <dd class="nhsuk-summary-list__value">
        Yes
      </dd>
  
      <dd class="nhsuk-summary-list__actions">
  
        <a href="activate-banner8">
          Change<span class="nhsuk-u-visually-hidden"> contact information</span>
        </a>
  
      </dd>
  
    </div>
  
  </dl>


  <form action="iproov-down" method="post">
    <button class="nhsuk-button" type="submit">
      Confirm
    </button>
  </form>
        
        
{% endblock %}


