{% extends 'layout-nav.html' %}
{% set pageSection = "Change user journey" %}


{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/user-journey">Change user journey</a></li>
        <li class="nhsuk-breadcrumb__item">Change automation rate</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/user-journey">Back to: Change user journey</a></p>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Success</h1>

      <p>The automation rate has been set to <b>50%</b>.</p>

    </div>
  </div>
{% endblock %}


