{% extends 'layout-nav.html' %}
{% set pageSection = "Change user journey" %}


{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/user-journey">Change user journey</a></li>
        <li class="nhsuk-breadcrumb__item">Change automation rate</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/user-journey">Back to: Change user journey</a></p>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Change automation rate</h1>

      <p>The automation rate is currently set to: <b>75%</b>.

      <p>Use the slider to change the automation rate.</p>



<div class="range-slider nhsuk-u-margin-bottom-8 nhsuk-u-margin-top-8" style='--min:0; --max:100; --step:5; --value:75; --text-value:"75";'>
  <input id="slider_value" type="range" min="0" max="100" step="5" value="75" oninput="this.parentNode.style.setProperty('--value',this.value); this.parentNode.style.setProperty('--text-value', JSON.stringify(this.value));">
  <output></output>
  <div class='range-slider__progress'></div>

  <br><br>

</div>

        <a href="automation-success" class="nhsuk-button" type="submit">
        Change automation rate
        </a>

    <!-- When we had a pop up showing on success -->

<!--   {#         <a href="#" class="nhsuk-button" type="submit" onclick="myFunctionConfirmRate()">
        Change automation rate
        </a> #}
    </div>
  </div>
</div>


   <div id="ConfirmRate" style="display: none">
        <section class="notification_rate animateOpen">
        <p class="noti-close" id='noti-close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>&times</p>
                                <img src="/images/tick.png" height="45" width="45" style="margin-right: 20px"/>
                                <p style="padding-top: 20px">
                                <b style="color:#007f3b">Success</b>
                                <br>The automation rate has been set to 50%.</p>

        </section>
    </div>
  -->

{% endblock %}


