{% extends 'layout-nav.html' %}
{% set pageSection = "Edit user notifications" %}

<!-- this page is only visible to prod-accessreport group -->

{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications">Edit user notifications</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/user-alerts/manage-user-alerts">Manage user alerts</a></li>
      {% if data.incidentnumber === 'false' %}
      <li class="nhsuk-breadcrumb__item">Add a support reference number</li>
      {% else %}
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/user-alerts/schedule-user-alert/select-incident">Incident categories</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/user-alerts/schedule-user-alert/select-incident/supplier-incidents">Supplier incidents</a></li>
      <li class="nhsuk-breadcrumb__item">Incident details</li>
      {% endif %}
    </ol>
  </div>
</nav>
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

{% block content %}


<style>
  a:visited { 
   color:	#005eb8; 
   }
</style>

<div class="nhsuk-back-link" style="{% if data.incidentnumber === 'false' %} display:none; {% else %} display:block {% endif %}">
  <a class="nhsuk-back-link__link" href="#">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Back to: NAM  down</a>
</div>


<div class="nhsuk-grid-row">
  {% if data.incidentnumber === 'false' %}
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">
    <h1 class="nhsuk-heading-l">Add a support reference number for incident: NAM is down</h1>
  </div>

  {% else %}
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-4">
    {% if data.namdownplanned === 'true' %}
    <h1 class="nhsuk-heading-l" style="">Planned service maintenance: NAM is down</h1>
    {% else %}
    <h1 class="nhsuk-heading-l">NAM is down</h1>
    {% endif %}
  </div>

  {% endif %}
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-form-group" id="incident-number-container">
        <label class="nhsuk-label" for="incident-number">
          Support reference number 
        </label>
        <span class="nhsuk-hint">
          <p style="{% if data.incidentnumber === 'false' %} display:none; {% else %} display:block {% endif %}">If you don't have a support reference number yet, leave this field empty. You can still turn on the alert and add this information later.</p>
          <p>Enter a support reference number for this incident</p>
        </span>
        <input class="nhsuk-input" id="incident-number" name="incident-number" type="text">
      </div>

  {% if data.incidentnumber === 'false' %}

  <a href="/notifications/user-alerts/manage-user-alerts?active=true&incidentnumber=true" >
    <button class="nhsuk-button" >
      Confirm 
    </button>
  </a>
  <p>
    <a class="nhsuk-link" href="/notifications/user-alerts/manage-user-alerts?active=true&incidentnumber=false" style="display:block;">
    Cancel and return to: Manage user alerts
    </a>
  </p>

  {% else %}

  <form action="complete" method="post" name="incident-number">
    <button class="nhsuk-button" type="submit">
      Turn on user alert
    </button>
  </form>  
  {% endif %}
</div>
</div>




{% endblock %}


