// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/phase-banner';
@import 'components/related-nav';
@import 'components/tag';
@import 'components/devmode';
@import 'components/search';
@import 'components/slider';
@import 'components/range-slider';
@import 'components/small-checkboxes';
@import 'components/notification';
@import 'components/list-border';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

.background-white{
    background-color:#fff;
}

.background-yellow{
    background-color:#FAE100;
}

.background-grey{
    background-color: #F8F8F8;
}

.text-different{
    color:#FAE100;
}

.tab {
    background:  #425563;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 !important;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

.show{
    display: block;
}

// Main nav active state
.app-header__navigation-item__item--current {
  @include mq($from: large-desktop) {
    box-shadow: inset 0 -4px 0 $color_nhsuk-grey-4;
  }

  .nhsuk-header__navigation-link {
    font-weight: $nhsuk-font-bold;
  }
}
