// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/phase-banner';
@import 'components/related-nav';
@import 'components/tag';
@import 'components/devmode';
@import 'components/search';
@import 'components/slider';
@import 'components/range-slider';
@import 'components/small-checkboxes';
@import 'components/notification';
@import 'components/list-border';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

.background-white{
    background-color:#fff;
}

.background-yellow{
    background-color:#FAE100;
}

.background-grey{
    background-color: #F8F8F8;
}

.text-different{
    color:#FAE100;
}

.tab {
    background:  #425563;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 !important;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

.show{
    display: block;
}

// Main nav active state
.app-header__navigation-item__item--current {
  @include mq($from: large-desktop) {
    box-shadow: inset 0 -4px 0 $color_nhsuk-grey-4;
  }

  .nhsuk-header__navigation-link {
    font-weight: $nhsuk-font-bold;
  }
}

// full width button on mobile

.nhsuk-button.full-width {
  @include mq($from: mobile) {
    width: 100%;
  }

  @include mq($from: tablet) {
    width: auto;
  }

  @include mq($from: desktop) {
    width: auto;
  }
}



// force full-width button on any device

.nhsuk-button.force-full-width {
    width: 100%;
}

// blue button option

.nhsuk-button.blue {
    background-color: #005eb8;
}

// disabled tab

.disabled-tab {
  background-color:#466274;
}


.button-as-link {
  background: none !important;
  color: $nhsuk-link-color;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
  &:hover { color: $nhsuk-link-hover-color; }
  &:active { color: $nhsuk-link-active-color; }
  &:visited { color: $nhsuk-link-visited-color; }
  &:focus {
    color: $nhsuk-button-active-color;
    outline: none;
  }
}

.manage-banner-label{
	background-color: #d8dde0;
	width: fit-content;
	color:#212b32;
	border-radius: 4px;
  position: absolute;
  top:25%;
  left:16%;
}

.banner-label-container{
	background-color:#f0f4f5;
	width: inherit;
}

.label-text{
	font-size: 22px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 1.5em; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.685); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  max-width: 640px;
  overflow: auto;
  overflow-x: hidden;
  padding: 1.5em;
  position: relative;
  width: 100%;
  height:fit-content;
}

/* Screenshot zoom The Modal (background) */
.modal-image-zoom {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 1.5em; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.685); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-image-zoom {
  background-color: #fefefe;
  margin: auto;
  overflow: auto;
  overflow-x: hidden;
  padding: 1.5em;
  position: relative;
  width: 60%;
  height:fit-content;
}

.incident-details-box-pop-up{
  background-color:  #f0f4f5; 
  color:#212b32;
  padding-left: 48px;
}

.nhsuk-warning-text__icon_global {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background: #212b32;
  border-radius: 50%;
  border: 3px solid #212b32;
  color: #fff;
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  line-height: 29px;
  min-height: 29px;
  position: relative;
  text-align: center;
  user-select: none;
  width: 35px; 
}

.nhsuk-warning-small__icon {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background: #212b32;
  border-radius: 50%;
  border: 3px solid #212b32;
  color: #fff;
  display: inline-block;
  font-size: 19px;
  font-weight: 700;
  line-height: 22px;
  min-height: 22px;
  position: relative;
  text-align: center;
  user-select: none;
  width: 28px; 
}

.edit-complete-box{
  background-color:	#d8dde0;
  color:#212b32;
  text-align: center;
}

.complete-alerts-on{
  background-color:	#007f3b;
  color:#fff;
  text-align: center;
}

.alert-header {
  padding-top: 8px;
  margin: 0%;
  background-color: #fff;
}

.alert-header-tab {
  color: 	#4c6272;
  text-align: center;
  font-size: 20px;
  font-weight:600;
  background-color: #d8dde0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 16px;
  padding-bottom: 14px;
  margin-bottom: 0%;
}

.alert-header-tab:hover {
  color: 	#005eb8;
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
  font-weight:600;
  background-color: #d8dde0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 16px;
  padding-bottom: 14px;
  margin-bottom: 0%;
}

.alert-header-tab-selected {
  color: #005eb8;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  background-color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 16px;
  padding-bottom: 8px;
  margin-bottom: 0%;
  border: 1px solid #d8dde0;
  border-bottom:0px;
}

.datetime-wrapper {
  display: flex;
  gap:32px;
}

.dateend {
  font-size: 19px;
  width:200px;
  padding: 16px;
  color: #212b32;
  border:transparent solid 2px;
  outline: transparent solid 2px;
  border-radius: 0.2em;
  margin-top: 0.6em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.dateend:focus{
  border: 2px solid 	#212b32;
  outline: 2px solid 	#ffeb3b;
}

.timeend {
  font-size: 19px;
  text-align: center;
  width:132px;
  padding: 16px;
  color: #212b32;
  border:transparent solid 2px;
  outline: transparent solid 2px;
  border-radius: 0.2em;
  margin-top: 0.6em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.timeend:focus{
	border: 2px solid 	#212b32;
	outline: 2px solid 	#ffeb3b;
}

.times {
  background-color: #FFF;
  margin-left:232px;
  margin-bottom: 24px;
  width: 240px;
  max-height: 300px;
  overflow-y: scroll;
  display:flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.hours {
	margin:16px;
	margin-top:0px;
	padding-top:16px;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	cursor: pointer;
	height:0%;
}

.hour{
	width:72px;
	padding:8px;
	margin:4px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #212b32;
	font-size:19px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 0.2em;
}

.hour:hover{
	width:72px;
	padding:8px;
	margin:4px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #005eb8;
	font-size:19px;
	background-color: #b3daff;
	border: 1px solid #b3daff;
	border-radius: 0.2em;
}

.hour-selected{
	width:72px;
	padding:8px;
	margin:4px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #005eb8;
	font-size:19px;
	background-color: #b3daff;
	border: 1px solid #b3daff;
	border-radius: 0.2em;
}

.am{
	background-color: #fff;
	color:#768692;
	border: 1px solid #d8dde0;
	font-size: 19px;
	padding:16px;
	border-radius: 0.2em;
	width: 72px;
	position: absolute;
	margin-top: 80px;
	cursor:pointer;
}

.am-selected{
	background-color: #1a8fff;
	color:#fff;
	border: none;
	font-size: 19px;
	font-weight:900;
	padding: 16px;
	border-radius: 0.2em;
	width: 72px;
	position: absolute;
	margin-top: 80px;
}

.pm{
	margin-top:16px;
	background-color: #fff;
	color:#768692;
	border: 1px solid #d8dde0;
	font-size: 19px;
	padding:16px;
	border-radius: 0.2em;
	width: 72px;
	position: absolute;
	margin-bottom: 96px;
	cursor:pointer;
}

.pm-selected{
	margin-top:16px;
	background-color: #1a8fff;
	color:#fff;
	border: none;
	font-size: 19px;
	font-weight:900;
	padding: 16px;
	border-radius: 0.2em;
	width: 72px;
	position: absolute;
	margin-bottom: 96px;
}

.time-picker-done-button{
	display:none; 
	height: 0px; 
	width: 240px; 
	background-color:#fff; 
	position:absolute; 
	margin-left:232px; 
	font-size:19px; 
	text-align: right; 
	padding-right: 36px; 
	padding-top: 16px;
}

.datescontainer {
  background-color: #FFF;
  width: fit-content;
  height: fit-content;
  margin-top: 24px;
  margin-bottom: 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.dayscontainer {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	box-shadow: none;
	padding:8px;
}

.daynew { 
	padding:8px;
	padding-top:4px;
	padding-bottom:4px;
	margin:4px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #212b32;
	font-size:19px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 0.2em;
	cursor: pointer;
}

.daypast { 
	padding:8px;
	padding-top:4px;
	padding-bottom:4px;
	margin:4px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #aeb7bd;
	font-size:19px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 0.2em;
	pointer-events: none;
}

.daynew:hover {
	background-color: #b3daff;
	color: #005eb8;
}


.dayselected {
	background-color: #1a8fff;
	color:#FFF;
	padding:8px;
	padding-top:4px;
	padding-bottom:4px;
	margin:4px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:19px;
	border: 1px solid transparent;
	border-radius: 0.2em;
	cursor: pointer;
}


.dayselected:hover {
	background-color: #1a8fff;
	color:#FFF;
}

.datescontainer .month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid 	#d8dde0;
  color: #1a8fff;
  font-size: 22px;
  font-weight: 600;
  padding-top: 8px;
  padding-bottom: 8px;
  
}

.arrows {
	width: 40px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #212b32;
	font-size: 24px;
	cursor:pointer;
}

.arrows-disabled {
	width: 40px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #aeb7bd;
	font-size: 24px;
	pointer-events: none;
}

.arrows:hover {
  background-color: #b3daff;
  color: #212b32;
}

.arrows:active {
  background-color: #b3daff;
  color: #212b32;
}

.active-alert-card-action-link {
  text-decoration: none;
  cursor:pointer;
}

.active-alert-card-action-link:hover {
  color:	#7C2855;
}

#spinner {
  animation-name: spin;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: inline-block;
}
#spinner.done {
  animation-name: spinback;
  animation-duration: 1.25s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinback {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.uploader-container,
.loading-container,
#camera-container,
.preview-container {
  margin: 0;
  display: flex;
  justify-content: center;
}

.bar_container {
  margin-top: 0 !important;
}

.progress-pie-chart,
.progress-spinner {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
  margin: 50px auto 0;
}

.progress-spinner {
  background-color: white;
}

.progress-pie-chart.gt-50,
.progress-spinner .gt-50 {
  background-color: #367c42;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
}

.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: #367c42;
  transform: rotate(60deg);
}

.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}

.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5;
}

.ppc-percents,
.ppc-loading {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 86.95652px);
  top: calc(50% - 86.95652px);
  width: 173.91304px;
  height: 173.91304px;
  background: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ppc-percents span,
.ppc-loading span {
  display: block;
  font-size: 2.6em;
  font-weight: bold;
  color: #367c42;
}

.ppc-loading span {
  display: inline-block;
  position: relative;
  font-size: 1.4em;
  font-weight: normal;
  color: #000000;
  margin: 0;
}

.ppc-loading span.done {
  margin-top: 1.5em;
}
.ppc-loading span.done::before, .ppc-loading span.done::after {
  content: "";
  left: 20%;
  font-weight: bold;
  margin: 1.5em 0 0.25em;
  top: -2em;
  position: absolute;
  zoom: 1;
}
.ppc-loading span.done::before {
  background: transparent;
  border: solid;
  border-color: #417505;
  border-width: 0 0 10px 10px;
  height: 24px;
  top: -3.3em;
  transform: rotate(-45deg);
  width: 40px;
}
.ppc-loading span.done::active::before {
  height: 100%;
  top: 0;
}
.ppc-loading span.done ~ * {
  display: none;
}

.pcc-percents-wrapper {
  display: flex;
  vertical-align: middle;
}

.ppc-percents,
.ppc-loading {
  margin-top: 0 !important;
}