// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/phase-banner';
@import 'components/related-nav';
@import 'components/tag';
@import 'components/devmode';
@import 'components/search';
@import 'components/slider';
@import 'components/range-slider';
@import 'components/small-checkboxes';
@import 'components/notification';
@import 'components/list-border';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

.background-white{
    background-color:#fff;
}

.background-yellow{
    background-color:#FAE100;
}

.background-grey{
    background-color: #F8F8F8;
}

.text-different{
    color:#FAE100;
}

.tab {
    background:  #425563;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 !important;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

.show{
    display: block;
}

// Main nav active state
.app-header__navigation-item__item--current {
  @include mq($from: large-desktop) {
    box-shadow: inset 0 -4px 0 $color_nhsuk-grey-4;
  }

  .nhsuk-header__navigation-link {
    font-weight: $nhsuk-font-bold;
  }
}

// full width button on mobile

.nhsuk-button.full-width {
  @include mq($from: mobile) {
    width: 100%;
  }

  @include mq($from: tablet) {
    width: auto;
  }

  @include mq($from: desktop) {
    width: auto;
  }
}



// force full-width button on any device

.nhsuk-button.force-full-width {
    width: 100%;
}

// blue button option

.nhsuk-button.blue {
    background-color: #005eb8;
}

// disabled tab

.disabled-tab {
  background-color:#466274;
}


.button-as-link {
  background: none !important;
  color: $nhsuk-link-color;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
  &:hover { color: $nhsuk-link-hover-color; }
  &:active { color: $nhsuk-link-active-color; }
  &:visited { color: $nhsuk-link-visited-color; }
  &:focus {
    color: $nhsuk-button-active-color;
    outline: none;
  }
}

.manage-banner-label{
	background-color: #d8dde0;
	width: fit-content;
	color:#212b32;
	border-radius: 4px;
  position: absolute;
  top:25%;
  left:16%;
}

.banner-label-container{
	background-color:#f0f4f5;
	width: inherit;
}

.label-text{
	font-size: 22px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
}