{% extends 'layout-nav.html' %}
{% set pageSection = "Manage user notifications" %}

<!-- this page is only visible to prod-accessreport group -->

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications">Manage user notifications</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/user-alerts/manage-user-alerts?active=true">Manage user alerts</a></li>
        <li class="nhsuk-breadcrumb__item">User alerts updated</li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

{% block content %}

<style>
  a:visited { 
   color:	#005eb8; 
  }

  .complete{
    background-color:	#007f3b;
    color:#fff;  
  }

  .incident-details-box{
    background-color:  #f0f4f5; 
    color:#212b32;
    align-items: center;
    justify-content: center;
    display: flex;
  }

</style>



  <div class="nhsuk-grid-row nhsuk-u-margin-bottom-4">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="complete nhsuk-u-padding-7" >
        <div>
          <h1 class=" nhsuk-u-margin-bottom-6" style="text-align: center;">
            <span class="nhsuk-heading-xl" style="line-height: 100%;">User alerts are updated</span>
            <span class="nhsuk-heading-l" style="line-height: 0%;">Incident details have been changed</span>
          </h1>
          {% if data['impact'] === 'Service is not working as expected' %}
          {% if data['is-it-planned'] === 'Yes' %}
          <div class="incident-details-box">
          <div class="nhsuk-u-margin-bottom-4 nhsuk-u-padding-top-6">
            <div>
              <p class="nhsuk-heading-s" style="line-height: 50%;">NAM is not working as expected</p>
              <p class="nhsuk-heading-s" style="line-height: 0%;">Planned maintenance</p>
            </div>
            <div class="nhsuk-u-padding-top-4">
              <p class="nhsuk-heading-s" style="line-height:50%;">Maintenance end date:</p>
              {% if data['do-you-know-end-date-time'] === 'both' %}
              <p class="nhsuk-heading-s" style="line-height: 0%;">2 February 2023, 11.30pm</p>
              {% endif %}
              {% if data['do-you-know-end-date-time'] === 'date' %}
              <p class="nhsuk-heading-s" style="line-height: 0%;">2 February 2023</p>
              {% endif %}
              {% if data['do-you-know-end-date-time'] === 'dontknow' %}
              <p class="nhsuk-heading-s" style="line-height: 0%;">Not known</p>
              {% endif %}
            </div>
          </div>
          </div>
          {% endif %}
          {% endif %}
          {% if data['impact'] === 'Service is not working as expected' %}
          {% if data['is-it-planned'] === 'No' %}
          <div class="incident-details-box">
          <div class="nhsuk-u-margin-bottom-4 nhsuk-u-padding-top-6">
          <div>
              <p class="nhsuk-heading-s" style="line-height: 100%;">NAM is not working as expected</p>
            </div>
          </div>
          </div>
          {% endif %}
          {% endif %}
          {% if data['impact'] === 'Service is down' %}
          {% if data['is-it-planned'] === 'Yes' %}
          <div class="incident-details-box">
          <div class="nhsuk-u-margin-bottom-4 nhsuk-u-padding-top-6">
            <div>
              <p class="nhsuk-heading-s" style="line-height: 50%;">NAM is down</p>
              <p class="nhsuk-heading-s" style="line-height: 0%;">Planned maintenance</p>
            </div>
            <div class="nhsuk-u-padding-top-4">
              <p class="nhsuk-heading-s" style="line-height:50%;">Maintenance end date:</p>
              {% if data['do-you-know-end-date-time'] === 'both' %}
              <p class="nhsuk-heading-s" style="line-height: 0%;">2 February 2023, 11.30pm</p>
              {% endif %}
              {% if data['do-you-know-end-date-time'] === 'date' %}
              <p class="nhsuk-heading-s" style="line-height: 0%;">2 February 2023</p>
              {% endif %}
              {% if data['do-you-know-end-date-time'] === 'dontknow' %}
              <p class="nhsuk-heading-s" style="line-height: 0%;">Not known</p>
              {% endif %}
            </div>
          </div>
          </div>
          {% endif %}
          {% endif %}
          {% if data['impact'] === 'Service is down' %}
          {% if data['is-it-planned'] === 'No' %}
          <div class="incident-details-box">
          <div class="nhsuk-u-margin-bottom-4 nhsuk-u-padding-top-6">
          <div>
              <p class="nhsuk-heading-s" style="line-height: 100%;">NAM is down</p>
            </div>
          </div>
          </div>
          {% endif %}
          {% endif %}
        </div>
        {% if data['incident-number'] != 'No' %}

        <p class="nhsuk-body-l nhsuk-u-padding-top-4" style="line-height: 0%; text-align: center;">
          Support reference number:
        </p>
        
        <h3 class="nhsuk-heading-l" style="line-height:0%; text-align: center;">
          ABCD12345678
        </h3>
          
        {% endif %}
      </div>
    </div>
  </div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
      <p class="mhsuk-body-l">
        <a href="/notifications/user-alerts/manage-user-alerts?active=true&edit=true">
          Return to manage user alerts
        </a>
      </p>
      

  </div>
</div>

        
{% endblock %}


