{% extends 'layout-nav.html' %}
{% set pageSection = "Edit user notifications" %}

<!-- this page is only visible to prod-accessreport group -->

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications">Edit user notifications</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/user-alerts/manage-user-alerts">Manage user alerts</a></li>
        <li class="nhsuk-breadcrumb__item">Edit active user alert</li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

{% block content %}
<style>
  a:visited { 
    color:	#005eb8; 
    }
</style>



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-s" style="color: 	#4c6272">NAM incident</h1>

      <div class="nhsuk-form-group ">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Is it a planned service maintenance?
            </h1>
          </legend>
      
          <div class="nhsuk-radios nhsuk-u-margin-top-2">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                Yes
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                No
              </label>
            </div>
      
          </div>
        </fieldset>
      
      </div>

      <form action="edit-planned-date-time?edit=true" method="post">
        <button class="nhsuk-button" type="submit">
          Continue with changes
        </button>
      </form>

      <p>
        <a class="nhsuk-link" href="edit?edit=false">
        Cancel changes and return to: Edit active user alert
        </a>
      </p>
      
    </div>
  </div>



        
        
{% endblock %}


