{% extends 'layout-nav.html' %}
{% set pageSection = "Find a user" %}

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/search">Search</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="result">Search result</a></li>
        <li class="nhsuk-breadcrumb__item">Cleanse account</li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block content %}

<script>

  function validate() {

    if( document.querySelectorAll('input[name="mobile"]:checked').length === 0 ) {
    document.getElementById('mobile-error').style.display = 'block';
    document.getElementById('mobile-number-container').classList.add("nhsuk-form-group--error");
    return false;
}

if( document.querySelectorAll('input[name="landline"]:checked').length === 0 ) {
    document.getElementById('landline-error').style.display = 'block';
    document.getElementById('landline-number-container').classList.add("nhsuk-form-group--error");
    return false;
}


    if( document.getElementById('incident-number-cleanse').value == "" ) {
        document.getElementById('incident-error').style.display = 'block';
        document.getElementById('incident-number-container').classList.add("nhsuk-form-group--error");
        document.getElementById('incident-number-cleanse').classList.add("nhsuk-input--error");
        document.getElementById('incident-number-cleanse').focus();
        return false;
    }
  
    return( true );
  }
  
  </script>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="result?cleansed=1" method="POST" name="form_disable" onsubmit="return(validate());">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Provide information to cleanse this account
              </h1>
            </legend>

            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Information about cleansing accounts
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <p>This process is used when a user account is linked to the wrong demographic details.</p>
                <p>Cleansing the account means that the account will no longer be linked to any PDS demographics and the proofing level will return to P0.</p>
                <p>All fields for this account in the user profile table will be removed <strong>apart from</strong> the following fields:</p>
                <ul>
                  <li>account_id</li>
                  <li>cookie_policy_version</li>
                  <li>email_address</li>
                  <li>privacy_policy_version</li>
                  <li>proofing_levels</li>
                  <li>terms_and_conditions_version</li>
                  <li>unverified_phone_number</li>
                  <li>verified_phone_number</li>
                </ul>
                <p>If you choose to remove the mobile number then these fields will be removed:</p>
                <ul>
                  <li>unverified_phone_number</li>
                  <li>verified_phone_number</li>
                </ul>
              </div>
            </details>

            <p>
              Account ID<br />
              <span class="nhsuk-hint">
                {{ (data['accountid'] | default('2ead33a3-bb11-cd1c-ab11-33bcd33aaed3')) }}
              </span>
            </p>
            <p>
              Email address<br />
              <span class="nhsuk-hint">
                {{ (data['email'] | default('tim.peak2@hotmail.com')) }}
              </span>
            </p>

            <p>
              Mobile number<br />
              <span class="nhsuk-hint">
                {{ (data['mobile'] | default('+447711223344')) }}
              </span>
            </p>


            <div class="nhsuk-form-group" id="mobile-number-container">
              <label class="nhsuk-label" for="mobile">
                Would you like to remove the mobile number?
              </label>
              <span class="nhsuk-hint">
                If removed, the user will be prompted to add one again.
              </span>
              <span class="nhsuk-error-message" id="mobile-error" style="display: none;">
                Choose whether you want to remove the mobile number
              </span>
              <div class="nhsuk-radios">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="option1" name="mobile" value="-" type="radio">
                  <label class="nhsuk-label nhsuk-radios__label" for="option1">
                    Yes, remove
                  </label>
                </div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="option2" name="mobile" value="{{ (data['mobile'] | default('+447711223344')) }}" type="radio">
                  <label class="nhsuk-label nhsuk-radios__label" for="option2">
                    No, keep existing mobile number
                  </label>
                </div>
              </div>
            </div>

            <div class="nhsuk-form-group" id="landline-number-container">
              <label class="nhsuk-label" for="landline">
                Would you like to remove the landline number?
              </label>
              <span class="nhsuk-hint">
                If removed, the user will be prompted to add one again.
              </span>
              <span class="nhsuk-error-message" id="landline-error" style="display: none;">
                Choose whether you want to remove the landline number
              </span>
              <div class="nhsuk-radios">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="option1" name="landline" value="-" type="radio">
                  <label class="nhsuk-label nhsuk-radios__label" for="option1">
                    Yes, remove
                  </label>
                </div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="option2" name="landline" value="{{ (data['landline'] | default('+447711223344')) }}" type="radio">
                  <label class="nhsuk-label nhsuk-radios__label" for="option2">
                    No, keep existing landline number
                  </label>
                </div>
              </div>
            </div>

            <div class="nhsuk-form-group" id="incident-number-container">
              <label class="nhsuk-label" for="incident-number-cleanse">
                Incident number
              </label>
              <span class="nhsuk-hint">
                Enter the incident number that relates to this account being cleansed.
              </span>
              <span class="nhsuk-error-message" id="incident-error" style="display: none;">
                Enter an incident number
              </span>
              <input class="nhsuk-input" id="incident-number-cleanse" name="incident-number-cleanse" type="text">
            </div>

          </fieldset>
        
        </div>

        <div class="nhsuk-form-group">
          <button class="nhsuk-button" type="submit">
            Cleanse account
          </button>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
