{% extends 'layout-nav.html' %}
{% set pageSection = "Find a user" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-u-margin-bottom-6">

        <h1 class="nhsuk-heading-l">
          There is a problem
      
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {% if errormessage === 'evidence-preview' %}
     
      <p>There was a technical problem and we could not load the preview of the evidence file you requested. If this continues to happen contact NHS login support.</p>

      <p>Select <b>Go back</b> to return to PYI files.</p>

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="files-v3">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>
      
      {% elif errormessage === 'verification-instances' %}
      <p>There was a technical problem and we could not load the verification instances you requested. 
      If this continues to happen contact NHS login support.</p>

      <p>Select <b>Go back</b> to return to search results.</p>

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="result">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>

      {% elif errormessage === 'evidence-files' %}
      <p>There was a technical problem and we could not load the evidence files you requested. If this continues to happen contact NHS login support.</p>

      <p>Select <b>Go back</b> to return to verification attempts.</p>

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="verification-attempts-v3">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>

      {% endif %}

    </div>
  </div>

{% endblock %}
