{% extends 'layout-nav.html' %}
{% set pageSection = "Find a user" %}

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/search">Search</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="result">Search result</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="verification-attempts">PYI verification attempts</a></li>
        <li class="nhsuk-breadcrumb__item">PYI files</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="verification-attempts">Back to: PYI verification attempts</a></p>
    </div>
  </nav>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-u-margin-bottom-4">

        <h1 class="nhsuk-heading-l">
          PYI files
        </h1>

        <p>
          Verification attempt ID<br />
          <span class="nhsuk-hint">
            {{ (data['vericationid'] | default('2ead33a3-bb11-cd1c-ab11-33bcd33aaed3')) }}
          </span>
        </p>
      
      </div>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-4">
        <caption class="nhsuk-table__caption"></caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" scope="col">
              Type
            </th>
            <th role="columnheader" scope="col">
              Status
            </th>
            <th role="columnheader" scope="col">
              File name
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Type </span>
              Photo ID
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status </span>
              {% if data['files-requested'] == "y" %}
              Requested
              {% else %}
              Archived
              {% endif %}
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">File name </span>
              2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_photoid.jpg
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Type </span>
              Face extract
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status </span>
              Available
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">File name </span>
              <a href="https://placehold.it/500x500" target="_blank">
                2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_faceextract.jpg
              </a>
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Type </span>
              Video
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status </span>
              {% if data['files-requested'] == "y" %}
              Requested
              {% else %}
              Archived
              {% endif %}
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">File name </span>
              2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_video.mp4
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Type </span>
              Photo ID back
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status </span>
              {% if data['files-requested'] == "y" %}
              Requested
              {% else %}
              Archived
              {% endif %}
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">File name </span>
              2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_photoback.jpg
            </td>
          </tr>
        </tbody>
      </table>

      {% if data['files-requested'] == "y" %}
      <button class="nhsuk-button nhsuk-button--disabled" disabled="disabled" type="submit">Request all archived files</button>
      {% else %}
      <form method="POST" action="files-retrieve?files-requested=y">
        <button class="nhsuk-button" type="submit">Request all archived files</button>
      </form>
      {% endif %}

    </div>
  </div>

{% endblock %}
