{% extends 'layout-nav.html' %}
{% set pageSection = "Manage user notifications" %}
{% block pageTitle %}
Is it planned maintenance?
{% endblock %}

<!-- this page is only visible to prod-accessreport group -->

{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="manage-user-alerts">Manage user alerts</a></li>
      <li class="nhsuk-breadcrumb__item">Incident details</li>
    </ol>
  </div>
</nav>
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

{% block content %}

<style>
  a:visited { 
      color:	#005eb8; 
      }
</style>




  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if data.FEerror === 'true' %}

      <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
        <h2 class="nhsuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="nhsuk-error-summary__body">
          <p>
            Describe the errors and how to correct them
          </p>
          <ul class="nhsuk-list nhsuk-error-summary__list" role="list">
            <li>
              <a href="#planned">You need to select if it is planned maintenance</a>
            </li>
          </ul>
        </div>
      </div>
      {% endif %}

      <div class="nhsuk-width-container">
        <h1 class="nhsuk-heading-s nhsuk-u-padding-bottom-2" style="color: 	#4c6272; ">NAM incident</h1>
      </div>

      {% if data.change === 'true' %}
      <form action="/is-it-planned-change" method="post">
        {% if data.FEerror === 'true' %}
        <div class="nhsuk-form-group nhsuk-form-group--error">
        {% else %}
        <div class="nhsuk-form-group">
        {% endif %}
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Is it planned maintenance?
              </h1>
            </legend>
        
            <div class="nhsuk-radios nhsuk-u-margin-top-2">
              {% if data.FEerror === 'true' %}
              <span class="nhsuk-error-message" id="is-it-planned-error">
                Select if it is planned maintenance
              </span>
              {% endif %}
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="planned" name="is-it-planned" type="radio" value="Yes">
                <label class="nhsuk-label nhsuk-radios__label" for="planned">
                  Yes
                </label>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="notplanned" name="is-it-planned" type="radio" value="No">
                <label class="nhsuk-label nhsuk-radios__label" for="notplanned">
                  No
                </label>
              </div>
        
            </div>
          </fieldset>
        </div>
        <button class="nhsuk-button" type="submit">
        Continue with changes
        </button>
      </form>
      <p>
        <a class="nhsuk-link" href="/notifications/user-alerts/turn-on-user-alert/supplier-incidents/incident-details">
        Cancel changes and return to incident details
        </a>
      </p> 
      {% else %}
      
      <form role="form" action="/is-it-planned-phase-one" method="post" onsubmit="return(validate());">

        {% if data.FEerror === 'true' %}
        <div class="nhsuk-form-group nhsuk-form-group--error">
        {% else %}
        <div class="nhsuk-form-group">
        {% endif %}

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Is it planned maintenance?
            </h1>
          </legend>

          
          <div class="nhsuk-radios nhsuk-u-margin-top-2" id="is-it-planned-radios">
            {% if data.FEerror === 'true' %}
            <span class="nhsuk-error-message" id="is-it-planned-error">
              Select if it is planned maintenance
            </span>
            {% endif %}
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="planned" name="is-it-planned" type="radio" value="Yes">
              <label class="nhsuk-label nhsuk-radios__label" for="planned">
                Yes
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="notplanned" name="is-it-planned" type="radio" value="No">
              <label class="nhsuk-label nhsuk-radios__label" for="notplanned">
                No
              </label>
            </div>
      
          </div>
        </fieldset>
      
      </div>


      
        <button class="nhsuk-button" type="submit">
          Continue
        </button>
      </form>
      {% endif %}
    </div>
  </div>

  <script>

    function validate() {
        
          if( document.querySelectorAll('input[type="radio"]:checked').length === 0 ) {
              document.getElementById('is-it-planned-error').style.display = 'block';
              document.getElementById('is-it-planned-radios').classList.add("nhsuk-form-group--error");
              return false;
          }
        
          return( true );
        }
    
  </script>
        
        
{% endblock %}


