{% extends 'layout-nav.html' %}
{% set pageSection = "Manage user notifications" %}
{% block pageTitle %}
  Manage user alerts
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

{% block content %}


<style>
   a:visited { 
   color:	#005eb8; 
}

</style>

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-l">Manage user alerts</h1>

      <ul class="nhsuk-grid-row nhsuk-card-group nhsuk-u-padding-top-0">


    <div class="nhsuk-grid-column-one-half" id="turn-alert-on" style="{% if data.active === 'true' %} display: none;{% else %} display:block;{% endif %}">
          <li class="beta-hub-main-topic nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable ">
              <div class="nhsuk-card__content beta-card__content">
                  <a class="nhsuk-card__link"  href="incident-details">
                    <b>Turn on user alerts</b>
                  </a>
                <div class="beta-hub-arrow">
                  <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
                </div>
              </div>
            </div>
          </li>
    </div>

</div>
</div>

<div class="nhsuk-grid-row nhsuk-u-margin-top-4" id="active" style="{% if data.active === 'true' %} display: block;{% else %} display:none;{% endif %}">

  <div class="nhsuk-grid-column-full">
    <h2 class="nhsuk-heading-m">Active user alerts</h2>

      <ul class="nhsuk-grid-row nhsuk-card-group nhsuk-u-padding-top-0">


    <div class="nhsuk-grid-column-one-half">
          
            <div class="nhsuk-card nhsuk-card ">
              <div class="nhsuk-card__content beta-card__content">
                <h3>
                  <b class="nhsuk-heading-s">NAM is not working as expected</b>
                </h3>
                <div class="nhsuk-u-margin-top-4">
                  <div class="nhsuk-card__description " >
                    <p style="line-height:100%;">Start date: 30 November 2022 at 8am</p>
                  </div>
                </div>
                <div class="nhsuk-card__description nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">
                  <div class="nhsuk-u-margin-top-4">
                    <a class="active-alert-card-action-link" id="openModal" >Turn off user alerts for this incident</a>
                  </div>
                </div>
                <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
                <p class="nhsuk-hint" >User alerts turned on by:</p>
                <p class="nhsuk-hint" >Admin Name on 30 November 2022</p>
              </div>
            </div>
          
    </div>

</div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content nhsuk-u-padding-6">
    <div id="alert-off-confirm" style="display:block;">
      <h1 class="nhsuk-heading-m">Do you want to turn off user alerts for this incident?</h1>
      <div class="incident-details-box-pop-up">
      <div class="nhsuk-u-padding-top-6 nhsuk-u-padding-bottom-4 nhsuk-u-margin-bottom-4">
        <div>
          <p class="nhsuk-heading-s" style="line-height: 0%;">NAM is not working as expected</p>
        </div>
      </div>
      </div>

    <div class="nhsuk-form-group nhsuk-u-margin-top-4">
                  
      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">

          <div class="nhsuk-checkboxes">
  
              <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" onclick="conFirm();" id="confirm" name="example" type="checkbox" value="">
                  <label class="nhsuk-label nhsuk-checkboxes__label " for="example-1">
                        Yes, I want to turn off user alerts for this incident
                  </label>
              </div>
          </div>
      </fieldset>
    </div> 
    <div class="form-group nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0" >
      <button class="nhsuk-button full-width nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-0"  id="modal-link" style="width:100%;" 
      onclick="turnOff();" disabled="disabled">Turn off</button>
    </div>
    <div class="form-group nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0" >
        <p class="nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-3 " style="display:inline-block;">
          <span class="close">
            <a  href="#" class="" id="">Cancel</a>
          </span>
        </p>
    </div>
    </div>
    <div style="display:none;" id="alert-off-feedback">
        <h1 class="nhsuk-heading-l">User alerts have been turned off for:</h1>
        <div class="incident-details-box-pop-up">
        <div class="nhsuk-u-padding-top-6 nhsuk-u-padding-bottom-4 nhsuk-u-margin-bottom-4">
          <div>
            <p class="nhsuk-heading-m" style="line-height: 50%;">NAM is not working as expected</p>
          </div>
        </div>
        </div>
        

        <div class="form-group" >
          <p style="display:inline-block;">
            <span class="">
              <a  href="/notifications/phase-one/manage-user-alerts?active=false" class="close2" id="">Close</a>
            </span>
          </p>
        </div>
      
    </div>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("openModal");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// Get the <a> element that closes the feedback modal
  var a = document.getElementsByClassName("close2")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "flex";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
  let inputs = document.getElementById('confirm');
  inputs.checked = false;
  document.getElementById('modal-link').setAttribute("disabled", '')
}

// When the user clicks on <a> (x), close the modal
  a.onclick = function() {
  modal.style.display = "none";
  let inputs = document.getElementById('confirm');
  inputs.checked = false;
  document.getElementById('modal-link').setAttribute("disabled", '')
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
    let inputs = document.getElementById('confirm');
    inputs.checked = false;
    document.getElementById('modal-link').setAttribute("disabled", '')


    }
  
}

function conFirm() {
        if((document.getElementById('confirm').checked)) {
            document.getElementById('modal-link').removeAttribute("disabled")
        } else {
            document.getElementById('modal-link').setAttribute("disabled", '')
        }
}

function turnOff() {
        if((document.getElementById('confirm').checked)) {
            document.getElementById('alert-off-feedback').style.display = "block";
            document.getElementById('alert-off-confirm').style.display = "none";
            document.getElementById('active').style.display = "none";
            document.getElementById('turn-alert-on').style.display = "block";
        } else {
            document.getElementById('alert-off-feedback').style.display = "none";
            document.getElementById('alert-off-confirm').style.display = "block";
            document.getElementById('active').style.display = "block";
            document.getElementById('turn-alert-on').style.display = "none";
        }
}

</script>


</div>


{% endblock %}



<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}