{% extends 'layout-nav.html' %}
{% set pageSection = "Manage user notifications" %}
{% block pageTitle %}
NAM not working as expected planned maintenance
{% endblock %}

<!-- this page is only visible to prod-accessreport group -->

{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="manage-user-alerts">Manage user alerts</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="incident-details">Incident details</a></li>
      <li class="nhsuk-breadcrumb__item">NAM incident</li>
    </ol>
  </div>
</nav>
{% endblock %}



{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block content %}

<style>

a:visited { 
   color:	#005eb8; 
}  
</style>



  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-l" style="line-height: 100%;">NAM is not working as expected</h1> 
      <h1 class="nhsuk-heading-l" style="line-height: 0%;">Planned maintenance</h1> 
    </div>
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-4">
        <p >
          Some users might have problems accessing the affected journeys due to a planned maintence.
        </p>
          <details class="nhsuk-details ">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Journeys affected
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>IDVM</li>
                <li>POL</li>
                <li>GP Connect</li>
              </ul>
            </div>
          </details>
          <details class="nhsuk-details ">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Users affected
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>new users registering for the first time</li>
                <li>existing users who don't have gp credentials when accessing a client that requires GP Connect</li>
                <li>existing users uplifting to P5/ P9</li>
              </ul>
            </div>
          </details>
    </div>
  </div>


<div class="nhsuk-grid-row" style="display:none;">
      <div class="nhsuk-grid-column-full nhsuk-u-margin-top-4">
        <h1 class="nhsuk-heading-l">User alerts</h1>
      </div> 
</div>
      

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-4" >
    <div class="nhsuk-grid-column-one-half nhsuk-u-padding-0 nhsuk-u-padding-right-3" onclick="globalAlert()" style="cursor:pointer;">
      <h2 class="alert-header-tab-selected" id="global-alert">
        Global alert
      </h2>
    </div>
    <div class="nhsuk-grid-column-one-half nhsuk-u-padding-0" onclick="reminderAlert()" style="cursor:pointer;">
      <h2 class="alert-header-tab" id="reminder-alert">
        Reminder alert
      </h2>
    </div>
  </div>
</div>


<div class="nhsuk-grid-row " >
  <div class="nhsuk-grid-column-two-thirds">
    <div id="globalalert" style=" display:block; border-bottom: 1px solid #d8dde0;  border-right: 1px solid #d8dde0; border-left: 1px solid #d8dde0; background-color: #fff;">
      <div class="nhsuk-grid-row nhsuk-u-padding-4">
        <div class=" nhsuk-u-padding-left-4 nhsuk-u-padding-right-4" >
          <div class=" nhsuk-u-padding-bottom-4" style="background-color: #fad9d7; padding:16px; border:1px solid #8A1538;">
            <div class="" aria-labelledby="error-summary-title" role="service status information" tabindex="-1" >
              <div class=" " style="display:flex; flex-direction:row;">
                <div>
                  <span class="nhsuk-warning-text__icon_global" aria-hidden="true" >!</span>
                </div>
                <div class="nhsuk-u-margin-left-4" aria-labelledby="error-summary-title" role="alert" tabindex="-1" >
                  <div>
                      <h1 class="nhsuk-error-summary__title nhsuk-heading-l" style=" padding-right: 16px;" id="error-summary-title">
                        We are carrying out essential maintenance on the service
                      </h1>
                    <div id="show-details" style="display:none; padding-bottom: 16px;" class="nhsuk-u-font-size-19">
                      <a href="#" onclick="ExpandBanner()" class="nhsuk-link nhsuk-link--no-visited-state">Show details</a>
                    </div>
                    </div>
                    <div class="" id="BannerContent" style="display:block;">
                      <div class="nhsuk-error-summary__body">
                        
                        {% if data['do-you-know-end-date-time'] === 'both' %}
                        <p> 
                          This could affect your access to the service.
                        </p>
                        <p>
                          We expect this work to finish on 30 November 2022 at 1.30pm.
                        </p>
                        {% endif %}

                        {% if data['do-you-know-end-date-time'] === 'date' %}
                        <p> 
                          This could affect your access to the service.
                        </p>
                        <p>
                          We expect this work to finish on 30 November 2022.
                        </p>
                        {% endif %}

                        {% if data['do-you-know-end-date-time'] === 'dontknow' %}
                        <p> 
                          This could affect your access to the service.
                        </p>
                        <p>
                          We are working to complete it as soon as possible.
                        </p>
                        {% endif %}

                        <p>
                          If you are registering with NHS login for the first time, it may take longer than usual to check your information.
                        </p>
                        <ul class="nhsuk-list " style="display:none;">
                          <li>
                            <p class=" nhsuk-body ">Last updated: <span id="datestamp"> </span><span id="timestamp"></span></p>
                          </li>
                        </ul>
            
                      </div>
                       <div class="nhsuk-u-padding-bottom-2" style="pointer-events:none;" id="MinimiseBanner">
                        <a href="#" class="nhsuk-link nhsuk-link--no-visited-state nhsuk-u-font-size-19" id="MinimiseBanner" onclick="MinimiseBanner()">
                          Hide this message
                        </a>
                      </div>
                    </div>
                  </div>
                </div>           
            </div>
          </div>
          <div class="nhsuk-u-padding-top-4" style="display:none;">
            <span class="nhsuk-hint nhsuk-u-font-size-16">Last updated timestamp will initially display the date and time the alert is turned on. It will then automatically update every hour until it is turned off.</span>
          </div>
        </div>
      </div>     
    </div>
  </div>
</div>

<div class="nhsuk-grid-row " >
  <div class="nhsuk-grid-column-two-thirds">
   <div id="reminderalert" style=" display:none; border-bottom: 1px solid #d8dde0;  border-right: 1px solid #d8dde0; border-left: 1px solid #d8dde0; background-color: #fff;">
           <div class="nhsuk-grid-row nhsuk-u-padding-4">
          <div class=" nhsuk-u-padding-left-4 nhsuk-u-padding-right-4" >
            <div class="" aria-labelledby="error-summary-title" style="padding: 16px; margin-top: 8px;  border: 2px solid #ED8B00;" role="alert" tabindex="-1">
              <div class=" " style="display:flex; flex-direction:row;">
                <div class="">
                  <span class="nhsuk-warning-text__icon_global" aria-hidden="true" >!</span>
                </div>
                <div class="nhsuk-u-margin-left-4" aria-labelledby="error-summary-title" role="alert" tabindex="-1" >
                  <h2 class="nhsuk-error-summary__title" id="error-summary-title">
                    Connecting to GP systems is currently unavailable
                  </h2>
                <div class="nhsuk-error-summary__body">
                  {% if data['do-you-know-end-date-time'] === 'both' %}
                  <p>
                    We are carrying out essential maintenance on the service.
                  </p>
                  <p>
                    This could affect your access to the service.
                  </p>
                  <p>
                    We expect this work to finish on 30 November 2022 at 1.30pm.
                  </p>
                  {% endif %}

                  {% if data['do-you-know-end-date-time'] === 'date' %}
                  <p>
                    We are carrying out essential maintenance on the service.
                  </p>
                  <p>
                    This could affect your access to the service.
                  </p>
                  <p>
                    We expect this work to finish on 30 November 2022.
                  </p>
                  {% endif %}

                  {% if data['do-you-know-end-date-time'] === 'dontknow' %}
                  <p>
                    We are carrying out essential maintenance on the service.
                  </p>
                  <p>
                    This could affect your access to the service.
                  </p>
                  <p>
                    We are working to complete it as soon as possible.
                  </p>
                  {% endif %}
              
                  <p>
                    You can try again later.
                  </p>
                  <ul class="nhsuk-list nhsuk-error-summary__list" style="display:none;">
                  <li>
                    <p class=" nhsuk-body ">Last updated: <span id="datestamp-reminderalert"> </span><span id="timestamp-reminderalert"></span></p>
                  </li>
                  </ul>
                </div>
                </div>
              </div>
            </div>
            <div class="nhsuk-u-padding-top-4" style="display:none;">
              <span class="nhsuk-hint nhsuk-u-font-size-16">Last updated timestamp will initially display the date and time the alert is turned on. It will then automatically update every hour until it is turned off.</span>
            </div>
          </div>
        </div>     
    </div>
  </div>
</div>


<div class="nhsuk-grid-row nhsuk-u-margin-top-6">
  <div class="nhsuk-grid-column-full" >
  <form action="complete?namplanned=true" method="post" >
    <button class="nhsuk-button" type="submit">
      Turn on user alerts for this incident
    </button>
    <p class="nhsuk-hint" style="line-height:0%;">User alerts will be active immediately and displayed on affected journeys</p>
  </form>
</div>
</div>




<div id="myModal" class="modal-image-zoom">

  <!-- Modal content -->
  <div class="modal-content-image-zoom nhsuk-u-padding-6">
    <div style="display:block;">
      <div style="float:right;">
        <p class="nhsuk-u-margin-bottom-0 nhsuk-u-margin-bottom-3" style="display:inline-block; ">
          <span class="close">
            <a  href="#" class="" id="">Close</a>
          </span>
        </p>
      </div>
      <img src="/images/global-alert-example.png" id="globalAlertimage" style="display:none;">
      <img src="/images/reminder-alert-example.png" id="reminderAlertimage" style="display:none;">
    </div>
  </div>

</div>



<script>
  const months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
  
  const d = new Date();
  let month = months[d.getMonth()];
  document.getElementById("datestamp").innerHTML = d.getDate() + " " + month + " " + d.getFullYear();
  document.getElementById("datestamp-reminderalert").innerHTML = d.getDate() + " " + month + " " + d.getFullYear();
</script>

<script type="text/javascript">
  window.onload = function () {
      DisplayCurrentTime();
  };
  function DisplayCurrentTime() {
      var date = new Date();
      var hours = date.getHours() > 12 ? date.getHours() - 12 : date.getHours();
      var am_pm = date.getHours() >= 12 ? "pm" : "am";
      hours = hours < 10 ?  hours : hours;
      var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
      time = hours + "." + minutes + am_pm;
      var timestamp = document.getElementById("timestamp");
      timestamp.innerHTML = " " +"at" + " " + time;
      var timestamp = document.getElementById("timestamp-reminderalert");
      timestamp.innerHTML = " " +"at" + " " + time;
  };
</script>

<script>

  function reminderAlert() {
    var reminderAlert = document.getElementById("reminderalert");
    var globalAlert = document.getElementById("globalalert");
  
    document.getElementById("reminder-alert").className = "alert-header-tab-selected";
    document.getElementById("global-alert").className = "alert-header-tab";
  
    if (reminderAlert.style.display === "none") {
      reminderAlert.style.display = "block";
      } else{
      reminderAlert.style.display = "block";
    }
    if (globalAlert.style.display === "block") {
      globalAlert.style.display = "none";
      } else{
      globalAlert.style.display = "none"; 
    }
  }
  

  function globalAlert() {
    var reminderAlert = document.getElementById("reminderalert");
    var globalAlert = document.getElementById("globalalert");
  
    document.getElementById("reminder-alert").className = "alert-header-tab";
    document.getElementById("global-alert").className = "alert-header-tab-selected";
  
    if (globalAlert.style.display === "none") {
      globalAlert.style.display = "block";
    } else {
      globalAlert.style.display = "block";
    }
    if (reminderAlert.style.display === "block") {
      reminderAlert.style.display = "none";
    } else {
      reminderAlert.style.display = "none";
    }
  }
  
  
</script>
  
{% endblock %}


