{% extends 'layout-nav.html' %}
{% set pageSection = "Manage user notifications" %}
{% block pageTitle %}
NAM not working as expected
{% endblock %}

<!-- this page is only visible to prod-accessreport group -->

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="manage-user-alerts">Manage user alerts</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="incident-details">Incident details</a></li>
        <li class="nhsuk-breadcrumb__item">NAM incident</li>
      </ol>
    </div>
  </nav>
{% endblock %}



{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block content %}

<style>

a:visited { 
    color:	#005eb8; 
}
</style>



  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-l" style="line-height: 100%;">NAM is not working as expected</h1>  
    </div>
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-4">
        <p >
          This might be due to a network or a technical issue regardless of user volume. Some users might have problems accessing the affected journeys.
        </p>
          <details class="nhsuk-details ">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Journeys affected
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>IDVM</li>
                <li>POL</li>
                <li>log in journey</li>
              </ul>
            </div>
          </details>
          <details class="nhsuk-details ">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Users affected
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>new users registering for the first time</li>
                <li>existing users logging in for the first time</li>
                <li>existing users uplifting to P9</li>
              </ul>
            </div>
          </details>
    </div>
  </div>


<div class="nhsuk-grid-row" style="display:none;">
      <div class="nhsuk-grid-column-full nhsuk-u-margin-top-4">
        <h1 class="nhsuk-heading-l">User alerts</h1>
      </div> 
</div>
      

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full nhsuk-u-margin-top-4" >
    <div class="nhsuk-grid-column-full nhsuk-u-padding-0">
      <h2 class="alert-header-tab-selected nhsuk-u-padding-left-4" id="global-alert" style="text-align: left;">
        Global alert
      </h2>
    </div>
  </div>
</div>


<div class="nhsuk-grid-row " >
  <div class="nhsuk-grid-column-full">
   <div id="globalalert" style=" display:block; border-bottom: 1px solid #d8dde0;  border-right: 1px solid #d8dde0; border-left: 1px solid #d8dde0; background-color: #fff;">
              <div class="nhsuk-grid-row nhsuk-u-padding-4">
          <div class=" nhsuk-grid-column-one-half " >
            <div class=" nhsuk-u-padding-bottom-4" style="background-color: #fad9d7; padding:16px; border:1px solid #8A1538;">
              <div class="" aria-labelledby="error-summary-title" role="service status information" tabindex="-1" >
                <div class=" " style="display:flex; flex-direction:row;">
                  <div>
                    <span class="nhsuk-warning-text__icon_global" aria-hidden="true" >!</span>
                  </div>
                  <div class="nhsuk-u-margin-left-4" aria-labelledby="error-summary-title" role="alert" tabindex="-1" >
                    <div>
                      <h1 class="nhsuk-error-summary__title nhsuk-heading-l" style=" padding-right: 16px;" id="error-summary-title">
                        There is a problem with the service
                      </h1>
                    <div id="show-details" style="display:none; padding-bottom: 16px;" class="nhsuk-u-font-size-19">
                      <a href="#" onclick="ExpandBanner()" class="nhsuk-link nhsuk-link--no-visited-state">Show details</a>
                    </div>
                    </div>
                    <div class="" id="BannerContent" style="display:block;">
                      <div class="nhsuk-error-summary__body">
                        <p> 
                          We are working to fix a technical issue with NHS login.
                        </p>
                        <p> 
                          This could affect your access to the service.
                        </p>
                        <p>
                          If you already have an NHS login account and you are not required to provide more details, this will not affect you.
                        </p>
                        <ul class="nhsuk-list nhsuk-error-summary__list">
                          <li>
                            <p class=" nhsuk-body ">Last updated: 30 November 2022 at 8.30am</p>
                          </li>
                        </ul>
            
                      </div>
                      <div class="nhsuk-u-padding-bottom-2" style="pointer-events:none;" id="MinimiseBanner">
                        <a href="#" class="nhsuk-link nhsuk-link--no-visited-state nhsuk-u-font-size-19" id="MinimiseBanner" onclick="MinimiseBanner()">
                          Hide this message
                        </a>
                      </div>
                    </div>
                  </div>
                </div>           
            </div>
            </div>
          </div>
          <div class=" nhsuk-grid-column-one-half" >
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  See how it looks on a page
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <img src="/images/global-alert-example.png" style="cursor:zoom-in;" id="openModal-globalAlert"> 
              </div>
            </details>
            <details class="nhsuk-details nhsuk-expander ">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Where and when users will see it
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <p>
                  All users will see this alert at the beginning of the journey.
                </p>
                <p>
                  At the point in the journey when we know a user is not affected by this incident, we will stop showing the alert to them.
                </p>
                <p>
                  We will continue to show the alert to affected users.
                </p>
              </div>
            </details>
          </div>
        </div>     
    </div>
  </div>
</div>





<div class="nhsuk-grid-row nhsuk-u-margin-top-6">
  <div class="nhsuk-grid-column-full" >
  <form action="complete" method="post" >
    <button class="nhsuk-button" type="submit">
      Turn on user alerts for this incident
    </button>
    <p class="nhsuk-hint" style="line-height:0%;">User alerts will be active immediately and displayed on affected journeys</p>
  </form>
</div>
</div>



<div id="myModal" class="modal-image-zoom">

  <!-- Modal content -->
  <div class="modal-content-image-zoom nhsuk-u-padding-6">
    <div style="display:block;">
      <div style="float:right;">
        <p class="nhsuk-u-margin-bottom-0 nhsuk-u-margin-bottom-3" style="display:inline-block; ">
          <span class="close">
            <a  href="#" class="" id="">Close</a>
          </span>
        </p>
      </div>
      <img src="/images/global-alert-example.png" id="globalAlertimage" style="display:none;">
    </div>
  </div>

</div>

<script>
  // Get the modal
  var modal = document.getElementById("myModal");
  
  // Get the button that opens the global alert modal
  var btn = document.getElementById("openModal-globalAlert");
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  
  // When the user clicks the button, open the modal 
  btn.onclick = function() {
    modal.style.display = "flex";
    document.getElementById('globalAlertimage').style.display = "block";
  }

  
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }

  
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";


    }
  
}
  
</script>


  
{% endblock %}


