{% extends 'layout-nav.html' %}
{% set pageSection = "Edit user notifications" %}

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications">Edit user notifications</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/manage-service-banner">Manage the service banner</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/activate-banner">Choose an incident type</a></li>
        <li class="nhsuk-breadcrumb__item">NHS login incidents</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/notifications/activate-banner">Back to: Access and permissions</a></p>
    </div>
  </nav>
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

{% block content %}

<style>
  
  /* Style the tab */
  .tab {
    float: left;
    background-color: inherit;
    color: #212b32;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    margin-bottom: 32px;
    background-color: #fff;
    border: 1px solid #d8dde0;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    color:	#212b32;
    width: 100%;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    border: 1px solid #005eb8;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    border: 1px solid #005eb8;
  }
  
  /* Style the tab content */
  .tabcontent {
    background-color: inherit;
  }

  .tabcontent-card {
  display: flex;
  background-color: #fff;
  border: 1px solid #d8dde0;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  height: fit-content;
  }

  .tabcontent-option {
  }
  
  /* Style the incident category cards */

  .incident-heading {
  display: flex;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  height: fit-content;
  width: 100%;
  }

  .incident-title {
    width: 25%;
  }

  .incident-intro {
      color: #4c6272;
      width: 75%;
      padding-left: 24px;
  }

  .change-incident {
  float: right;
  }

</style>


        
<div class="nhsuk-grid-row">

      <div class="nhsuk-grid-column-full" style="display: flex; align-items: center;">
  

        <div class="tab nhsuk-grid-column-two-thirds">

          <h1 class="nhsuk-heading-m">Step 1: Choose an incident category</h1> 

          <button class="tablinks" onclick="openCategory(event, 'NHS login')" id="defaultOpen" style="">
                <h3  class="incident-heading">
                  <div class="nhsuk-heading-s incident-title">NHS login</div>
                  <div class="incident-intro nhsuk-u-font-size-19">Network or a technical issue with NHS login regardless of the user volume</div>
                </h3>
          </button>

          <button class="tablinks" onclick="openCategory(event, '3rd party supplier')" id="defaultOpen" style="display:none;">
                <h3  class="incident-heading">
                  <div class="nhsuk-heading-s incident-title">3rd party supplier</div>
                  <div class="incident-intro nhsuk-u-font-size-19">Network or a technical issue with a 3rd party supplier</div>
                </h3>
          </button>

          <button class="tablinks" onclick="openCategory(event, 'Partner service')" id="defaultOpen" style="display:none;">
                <h3  class="incident-heading">
                  <div class="nhsuk-heading-s incident-title">Partner service</div>
                  <div class="incident-intro nhsuk-u-font-size-19">Network or a technical issue with a partner service</div>
                </h3>
          </button>

          <button class="tablinks" onclick="openCategory(event, 'Other')" id="defaultOpen" style="display:none;">
                <h3  class="incident-heading">
                  <div class="nhsuk-heading-s incident-title">Other</div>
                  <div class="incident-intro nhsuk-u-font-size-19">i.e high volume of users or a national announcement</div>
                </h3>
          </button>

          <button class="tablinks" onclick="openCategory(event, 'Multiple incidents')" id="defaultOpen" style="display:none;">
                <h3  class="incident-heading">
                  <div class="nhsuk-heading-s incident-title">Multiple incidents</div>
                  <div class="incident-intro nhsuk-u-font-size-19">More than one incident affecting the service</div>
                </h3>
          </button>

        </div>

        <div class="change-incident nhsuk-grid-column-one-third" style="">

          <a class="nhsuk-u-text-align-right">Change category</a>
  
        </div>
      </div>
</div>     


{% endblock %}



<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}