{% extends 'layout-nav.html' %}
{% set pageSection = "Access and permissions" %}

{% block beforeContent %}
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

    <!-- Heading and lede text -->
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-l">Access and permissions settings</h1>

      <ul class="nhsuk-grid-row nhsuk-card-group nhsuk-u-padding-top-0">


  <div class="nhsuk-grid-column-one-half">
        <li class="beta-hub-main-topic nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
                <a class="nhsuk-card__link" href="access/users">
                  <b>View Admin Portal users</b>
                </a>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>

<!--         <li class="beta-hub-main-topic nhsuk-card-group__item">
          {# <div class="nhsuk-card nhsuk-card--clickable "> #}
          <div class="nhsuk-card nhsuk-card">
            <div class="nhsuk-card__content beta-card__content" style="background-color: #cccccc75">
                {# <a class="nhsuk-card__link" href="#"> #}
                  <b>Revoke ID Checker App access</b>
                {# </a> #}
              {# <div class="nhsuk-card__description"><p>Venenatis a condimentum vitae sapien pellentesque habitant morbi tristique.</p></div> #}
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>
</div>

<div class="nhsuk-grid-column-one-half">
        <li class="beta-hub-main-topic nhsuk-card-group__item">
          {# <div class="nhsuk-card nhsuk-card--clickable "> #}
          <div class="nhsuk-card nhsuk-card">
            <div class="nhsuk-card__content beta-card__content" style="background-color: #cccccc75">
                {# <a class="nhsuk-card__link" href="#"> #}
                  <b>Whitelist Cognito users for ID Checker/ assurance group</b>
                {# </a> #}
              {# <div class="nhsuk-card__description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div> #}
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li> -->

      </ul>


  </div>
</div>


{% endblock %}



<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}