{% extends 'layout-nav.html' %}
{% set pageSection = "Access and permissions" %}


{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/access">Access and permissions</a></li>
        <li class="nhsuk-breadcrumb__item">View Admin Portal users</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/access">Back to: Access and permissions</a></p>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Download the Admin Portal users report</h1>

      <p>content to explain that they will need to download it as a csv file to be able to view who has access to the Admin Portal.</p>


        <a href="automation-success" class="nhsuk-button" type="submit">
        Download report
        </a>




        
        
{% endblock %}


