{% extends 'layout-nav.html' %}
{% set pageSection = "Edit user notifications" %}

<!-- this page is only visible to prod-accessreport group -->

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications">Edit user notifications</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/manage-banner/manage-service-banner?active=true">Manage the service banner</a></li>
        <li class="nhsuk-breadcrumb__item">Banner turned on</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/notifications/manage-service-banner">Back to: Access and permissions</a></p>
    </div>
  </nav>
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

{% block content %}

<style>
  a:visited { 
   color:	#005eb8; 
   }
</style>



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div style="display:flex; flex-direction:row;"> 
        <h1 class="nhsuk-heading-l nhsuk-u-padding-right-4">Banner active</h1>
        <svg display="none" height="40px" width="40px" 
          fill="#4c6272" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
        </svg> 
      </div>
    </div>
  </div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2 class="nhsuk-heading-s nhsuk-u-margin-top-4">Support reference number: 
      <span>
        <a class="nhsuk-card__link nhsuk-u-padding-left-2" href="#">
          abcd020223
        </a>
      </span>
    </h2>
     
     <p class="">
      
     </p>
       
   
    
      <p class="mhsuk-body-l">
        <a href="/notifications/manage-banner/manage-service-banner?active=true">
          Return to manage service banners
        </a>
      </p>
      

  </div>
</div>

        
        
{% endblock %}


