{% extends 'layout-login.html' %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">
        You cannot use your NHS login
      </h1>

      <p>There is a problem that we are looking at.</p>
      <p>You will not be able to use your NHS login until we have fixed the problem. This is to keep your health information secure.</p>
      <p>Reference: <strong>CID2014</strong></p>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>
          <a href="https://help.login.nhs.uk/mixedsupport" target="_blank">What does reference CID2014 mean?</a>
        </p>
      </div>

      <!--<p>There is a problem that we are looking at.</p>
      <p>You will not be able to use your NHS login until we have fixed the problem. This is to keep your health information secure.</p>
      <h2 class="nhsuk-heading-m">What happens next</h2>
      <p>We will update you by email. This usually takes 2 working days.</p>
      <p>If it has been longer than 2 working days you can <a href="https://help.login.nhs.uk/contact?error=CID2014" target="_blank">contact us</a>.</p>-->

    </div>
  </div>
{% endblock %}
