{% extends 'layout-nav.html' %}
{% set pageSection = "Edit user notifications" %}

<!-- this page is only visible to prod-accessreport group -->

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications">Edit user notifications</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/user-alerts/manage-user-alerts">Manage user alerts</a></li>
        <li class="nhsuk-breadcrumb__item">Incident categories</li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

{% block content %}


<style>
  a:visited { 
   color:	#005eb8; 
   }
</style>



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-l">Select an incident category</h1>

      <ul class="nhsuk-grid-row nhsuk-card-group">

        <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/notifications/user-alerts/turn-on-user-alert/supplier-incidents/supplier-incidents">3rd party supplier</a>
              </h2>
              <p class="nhsuk-card__description nhsuk-hint">Network or a technical issue with a 3rd party supplier i.e. iProov</p>
            </div>
          </div>
      
        </li>

        <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item" >
      
          <div class="nhsuk-card nhsuk-card--clickable" style=" display:;">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">All other incident categories</a>
              </h2>
              <p class="nhsuk-card__description nhsuk-hint">Design and content guidance for all other incident categories</p>
            </div>
          </div>
      
        </li>

        <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item" >
      
          <div class="nhsuk-card nhsuk-card--clickable" style="pointer-events: none; background-color: #cccccc75; display:none;">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="nhslogin-incidents">NHS login</a>
              </h2>
              <p class="nhsuk-card__description">Network or a technical issue with NHS login regardless of the user volume</p>
            </div>
          </div>
      
        </li>

        <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable" style="pointer-events: none; background-color: #cccccc75; display:none;">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Partner service</a>
              </h2>
              <p class="nhsuk-card__description">Network or a technical issue with a partner service i.e. NHS App</p>
            </div>
          </div>
      
        </li>

        <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable" style="pointer-events: none; background-color: #cccccc75; display:none;">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Other</a>
              </h2>
              <p class="nhsuk-card__description">i.e. high volume of users or national announcement</p>
            </div>
          </div>
      
        </li>

        <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable" style="pointer-events: none; background-color: #cccccc75; display:none;">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Multiple incidents</a>
              </h2>
              <p class="nhsuk-card__description">More than one incident affecting the service at the same time</p>
            </div>
          </div>
      
        </li>

      </ul>
    </div>
  </div>



        
        
{% endblock %}


