{% extends 'layout-nav.html' %}
{% set pageSection = "Edit user notifications" %}

<!-- this page is only visible to prod-accessreport group -->

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications">Edit user notifications</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/user-alerts/manage-user-alerts">Manage user alerts</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/user-alerts/schedule-user-alert/select-incident">Incident categories</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/user-alerts/schedule-user-alert/select-incident/supplier-incidents">Supplier incidents</a></li>
        <li class="nhsuk-breadcrumb__item">Incident details</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/notifications/manage-user-alerts">Back to: Access and permissions</a></p>
    </div>
  </nav>
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

{% block content %}

<style>
a:visited { 
    color:	#005eb8; 
    }
</style>


<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="#">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Back to: Is it a planned service maintenance?</a>
</div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-4">

        <h1 class="nhsuk-heading-l">Confirm incident details</h1>

    </div>
  </div>

  <dl class="nhsuk-summary-list">

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Category
      </dt>
      <dd class="nhsuk-summary-list__value">
        3rd party supplier incident
        <p class="nhsuk-hint">Network or a technical issue with a supplier regardless of the user volume</p>
      </dd>
  
      <dd class="nhsuk-summary-list__actions" style="display:none;">
  
        <a href="#">
          Change<span class="nhsuk-u-visually-hidden"> name</span>
        </a>
  
      </dd>
  
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Affected supplier
      </dt>
      <dd class="nhsuk-summary-list__value">
        NAM
        <p class="nhsuk-hint">Affecting IDVM, POL and log in journey</p>
      </dd>
  
      <dd class="nhsuk-summary-list__actions" style="display:none;">
  
        <a href="#">
          Change<span class="nhsuk-u-visually-hidden"> name</span>
        </a>
  
      </dd>
  
    </div>
  
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        How severe is the impact?
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['impact'] }}
        {% if data['impact'] === 'Service is down' %}
        <p class="nhsuk-hint">Users cannot continue their journey</p>
        {% endif %}
        {% if data['impact'] === 'Service is not working properly' %}
        <p class="nhsuk-hint">Users may or may not be able to continue their journey</p>
        {% endif %}
      </dd>
  
      <dd class="nhsuk-summary-list__actions">
  
        <a href="/notifications/user-alerts/turn-on-user-alert/supplier-incidents/impact-level?change=true&down=false">
          Change
        </a>
  
      </dd>
  
    </div>
  
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
       Is it a planned service maintenance?
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['is-it-planned'] }}
      </dd>
  
      <dd class="nhsuk-summary-list__actions">
  
        <a href="/notifications/user-alerts/turn-on-user-alert/supplier-incidents/service-not-working-properly/is-it-planned?change=true">
          Change
        </a>
  
      </dd>
  
    </div>

    {% if data['is-it-planned'] === 'Yes' %}
    
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
       When is it planned to end?
      </dt>
      <dd class="nhsuk-summary-list__value">
       <p>02 February 2023, 23:30</p>
      </dd>
  
      <dd class="nhsuk-summary-list__actions">
  
        <a href="#">
          Change<span class="nhsuk-u-visually-hidden"></span>
        </a>
  
      </dd>
  
    </div>

    {% endif %}


  
  </dl> 

  {% if data['impact'] === 'Service is down' %}
  <form action="{% if data['is-it-planned'] === 'Yes' %} /notifications/user-alerts/turn-on-user-alert/supplier-incidents/service-down/NAM-down-planned-maintenance {% else %} /notifications/user-alerts/turn-on-user-alert/supplier-incidents/service-down/NAM-down{% endif %}" method="post">
    <button class="nhsuk-button" type="submit">
      Confirm
    </button>
  </form>
  {% else %}
  <form action="/NAM-template" method="post">
    <button class="nhsuk-button" type="submit">
      Confirm
    </button>
  </form>
  {% endif %}
        
        
{% endblock %}


