{% extends 'layout-nav.html' %}
{% set pageSection = "Manage user notifications" %}
{% block pageTitle %}
Select supplier
{% endblock %}

<!-- this page is only visible to prod-accessreport group -->

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications">Manage user notifications</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/ija-end-vision/manage-user-alerts">Manage user alerts</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/ija-end-vision/turn-on-user-alert/select-incident">Incident types</a></li>
        <li class="nhsuk-breadcrumb__item">Supplier incidents</li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

{% block content %}


<style>
  a:visited { 
   color:	#005eb8; 
   }
</style>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="">
    <h1 class="nhsuk-heading-l">3rd party supplier incidents</h1>
    <p class="" style="width:65%;">These incidents can be due to network or technical issues with a 3rd party supplier regardless of the user volume.</p>
    </div>

    <ul class="nhsuk-grid-row nhsuk-card-group nhsuk-u-margin-top-9">
      <div class="nhsuk-grid-column-two-thirds">
        <h2 class="nhsuk-heading-m">Select the supplier that is affected</h2>
      </div>

      {% if data.active === 'true' %}

      <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
        
        <div class="nhsuk-card" >
          <div class="nhsuk-card__content" style="background-color: #cccccc75"> 
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="#" style="color: #4c6272; pointer-events: none; text-decoration: none;"> NAM</a>
            </h2>
            <p class="nhsuk-card__description nhsuk-hint">Network or a technical issue regardless of the user volume</p>
            <hr>
            <div style="display: flex; flex-direction:row;">
              <div>
                <span class="nhsuk-warning-small__icon" aria-hidden="true">!</span>
              </div>
              <div class="nhsuk-card__description nhsuk-u-font-weight-bold nhsuk-u-padding-left-4">
                There are already active user alerts for this incident type. You can 
                <a class="nhsuk-card__link" href="/notifications/ija-end-vision/edit-user-alert/incident-details?change=false&edit=false">edit incident details</a>.
              </div>
            </div>
          </div>
        </div>
    
      </li>

      {% else %}

      <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
    
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="support-number">NAM</a>
            </h2>
            <p class="nhsuk-card__description nhsuk-hint">Network or a technical issue regardless of the user volume</p>
          </div>
        </div>
    
      </li>

      {% endif %}

      <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item" >
      
        <div class="nhsuk-card nhsuk-card--clickable" style=" display:;">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="#">All other supplier incidents</a>
            </h2>
            <p class="nhsuk-card__description nhsuk-hint">Design and content guidance  for all other supplier incidents</p>
          </div>
        </div>
    
      </li>
      
      <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
    
        <div class="nhsuk-card nhsuk-card--clickable" style="pointer-events: none; background-color: #cccccc75; display:none;">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="impact-level?iproov=true">iProov</a>
            </h2>
            <p class="nhsuk-hint">Network or a technical issue regardless of the user volume</p>
          </div>
        </div>
    
      </li>
      <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
    
        <div class="nhsuk-card nhsuk-card--clickable" style="pointer-events: none; background-color: #cccccc75; display:none;">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="impact-level?paycasso=true">Paycasso</a>
            </h2>
            <p class="nhsuk-hint">Network or a technical issue regardless of the user volume</p>
          </div>
        </div>
    
      </li>
      
      <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
    
        <div class="nhsuk-card nhsuk-card--clickable" style="pointer-events: none; background-color: #cccccc75; display:none;">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="impact-level?namspine=true"> NAM spine </a>
            </h2>
            <p class="nhsuk-hint">Network or a technical issue regardless of the user volume</p>
          </div>
        </div>
    
      </li>
      <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
    
        <div class="nhsuk-card nhsuk-card--clickable" style="pointer-events: none; background-color: #cccccc75; display:none;">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="#">SMS providers</a>
            </h2>
            <p class="nhsuk-hint">Network or a technical issue with SMS providers i.e. Gov Notify, Voodoo or AWS is unable to send OTP</p>
          </div>
        </div>
    
      </li>

    </ul>




        
{% endblock %}


