{% extends 'layout-nav.html' %}
{% set pageSection = "Invalid email domains" %}

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/invalid-email-domain">Manage invalid email domains</a></li>
        <li class="nhsuk-breadcrumb__item">Email domain blocked</li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">
        {% if data.multipleDomains === 'true' %}
        Email domains blocked
        {% else %}
        Email domain blocked
        {% endif %}
      </h1>

      {% if data.multipleDomains === 'true' %}
      <p>You have blocked:</p>
      <p><strong>domain123.com</strong></p>
      <p><strong>domainXYZ.com</strong></p>
      <p><strong>weirdDomain.com</strong></p>
      <p><strong>veryWeirdDomain.com</strong></p>
      <p><strong>IamSuspiciousDomain.com</strong></p>
      <p><strong>IamVerySuspiciousDomain.com</strong></p>
      {% else %}
      <p>You have blocked <strong>domain123.com</strong>.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
