{% extends 'layout.html' %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search">Search</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="result">Search result</a></li>
        <li class="nhsuk-breadcrumb__item">Change mobile number</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="result">Back to: search result</a></p>
    </div>
  </nav>
{% endblock %}

{% block content %}

<script>

  function validate() {

    if( document.getElementById('mobile').value == "" ) {
        document.getElementById('mobile-error').style.display = 'block';
        document.getElementById('mobile-number-container').classList.add("nhsuk-form-group--error");
        document.getElementById('mobile').classList.add("nhsuk-input--error");
        document.getElementById('mobile').focus();
        return false;
    }
        
    if( document.getElementById('incident-number-mobile').value == "" ) {
        document.getElementById('incident-error').style.display = 'block';
        document.getElementById('incident-number-container').classList.add("nhsuk-form-group--error");
        document.getElementById('incident-number-mobile').classList.add("nhsuk-input--error");
        document.getElementById('incident-number-mobile').focus();
        return false;
    }
  
    return( true );
  }
  
  </script>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="result" method="POST" name="form_disable" onsubmit="return(validate());">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Change the mobile number
              </h1>
            </legend>

            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Information about changing mobile numbers
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <p>TBC</p>
              </div>
            </details>

            <p>
              Account ID<br />
              <span class="nhsuk-hint">
                {{ (data['accountid'] | default('2ead33a3-bb11-cd1c-ab11-33bcd33aaed3')) }}
              </span>
            </p>
            <p>
              Email address<br />
              <span class="nhsuk-hint">
                {{ (data['email'] | default('tim.peak2@hotmail.com')) }}
              </span>
            </p>
            <p>
              Current mobile number<br />
              <span class="nhsuk-hint">
                {{ (data['mobile'] | default('+447711223344')) }}
              </span>
            </p>

            <div class="nhsuk-form-group" id="mobile-number-container">
              <label class="nhsuk-label" for="mobile">
                New mobile number
              </label>
              <span class="nhsuk-hint">
                Enter the user's new mobile phone number, including the country code. For example: +447711223344
              </span>
              <span class="nhsuk-error-message" id="mobile-error" style="display: none;">
                Enter a new mobile number
              </span>
              <input class="nhsuk-input" id="mobile" name="mobile" type="text">
            </div>

            <div class="nhsuk-form-group" id="incident-number-container">
              <label class="nhsuk-label" for="incident-number-mobile">
                Incident number
              </label>
              <span class="nhsuk-hint">
                Enter the Cherwell incident number that relates to this mobile number being removed.
              </span>
              <span class="nhsuk-error-message" id="incident-error" style="display: none;">
                Enter an incident number
              </span>
              <input class="nhsuk-input" id="incident-number-mobile" name="incident-number-mobile" type="text">
            </div>

          </fieldset>
        
        </div>

        <div class="nhsuk-form-group">
          <button class="nhsuk-button" type="submit">
            Change mobile number
          </button>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
