{% extends 'layout.html' %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="javascript:history.back()">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Back to: search result</a>
      </div>


      <h1 class="nhsuk-heading-l">Cleanse this account</h1>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Information about cleansing accounts
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>This process is used when a user account is linked to the wrong demographic details.</p>
          <p>Cleansing the account means that the account will no longer be linked to any PDS demographics and the proofing level will return to 0.</p>
        </div>
      </details>

      <p>
        Account ID<br />
        <span class="nhsuk-hint">{{ data['accountid'] }}</span>
      </p>
      <p>
        Email address<br />
        <span class="nhsuk-hint">{{ data['email'] }}</span>
      </p>

      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
          <h1 class="nhsuk-fieldset__heading">
            Are you sure you want to cleanse this account?
          </h1>
        </legend>
    
        <div class="nhsuk-form-group">

          <form action="result" method="POST" style="display: inline-block;">
            <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-right-4" type="submit">
              No
            </button>
          </form>

          <form action="cleanse-complete?cleansed=1" method="POST" style="display: inline-block;">
            <button class="nhsuk-button" type="submit">
              Yes
            </button>
          </form>
          
        </div>
      
      </fieldset>

    </div>
  </div>
{% endblock %}
