{% extends 'layout.html' %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">This account has been cleansed</h1>

      <p>
        Account ID<br />
        <span class="nhsuk-hint">{{ data['accountid'] }}</span>
      </p>
      <p>
        Email address<br />
        <span class="nhsuk-hint">{{ data['email'] }}</span>
      </p>
    
      <div class="nhsuk-form-group">

        <form action="result" method="POST" style="display: inline-block;">
          <button class="nhsuk-button" type="submit">
            Continue
          </button>
        </form>
        
      </div>
      
    </div>
  </div>
{% endblock %}
