{% extends 'layout.html' %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            Are you sure you want to enable this user?
          </h1>
        </legend>

        <p>
          Account ID<br />
          <span class="nhsuk-hint">{{ data['accountid'] }}</span>
        </p>
        <p>
          Email address<br />
          <span class="nhsuk-hint">{{ data['email'] }}</span>
        </p>
      
        <div class="nhsuk-form-group">

          <form action="result?status=Disabled" method="POST" style="display: inline-block;">
            <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-right-4" type="submit">
              No
            </button>
          </form>

          <form action="result?status=Active" method="POST" style="display: inline-block;">
            <button class="nhsuk-button" type="submit">
              Yes
            </button>
          </form>
          
        </div>
      
      </fieldset>

    </div>
  </div>
{% endblock %}
