{% extends 'layout.html' %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<script>

  function validate() {
        
    if( document.getElementById('incident-number-enable').value == "" ) {
        document.getElementById('incident-error').style.display = 'block';
        document.getElementById('incident-number-container').classList.add("nhsuk-form-group--error");
        document.getElementById('incident-number-enable').classList.add("nhsuk-input--error");
        document.getElementById('incident-number-enable').focus();
        return false;
    }
  
    if( document.querySelectorAll('input[type="radio"]:checked').length === 0 ) {
        document.getElementById('reason-error').style.display = 'block';
        document.getElementById('reason-container').classList.add("nhsuk-form-group--error");
        return false;
    }
  
    return( true );
  }
  
  </script>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="javascript:history.back()">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Back to: search result</a>
      </div>

      <form action="result?status=Active" method="POST" name="form_disable" onsubmit="return(validate());">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Provide information to enable this account
              </h1>
            </legend>

            <p>
              Account ID<br />
              <span class="nhsuk-hint">{{ data['accountid'] }}</span>
            </p>
            <p>
              Email address<br />
              <span class="nhsuk-hint">{{ data['email'] }}</span>
            </p>

            <div class="nhsuk-form-group" id="incident-number-container">
              <label class="nhsuk-label" for="incident-number-enable">
                Incident number
              </label>
              <span class="nhsuk-hint">
                Enter the Cherwell incident number that relates to why this account was disabled.
              </span>
              <span class="nhsuk-error-message" id="incident-error" style="display: none;">
                Enter an incident number
              </span>
              <input class="nhsuk-input" id="incident-number-enable" name="incident-number-enable" type="text">
            </div>

          </fieldset>
        
        </div>

        <div class="nhsuk-form-group">
          <button class="nhsuk-button" type="submit">
            Enable account
          </button>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
