{% extends 'layout.html' %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">There is a problem</h1>

      <p>Your account does not have permission to access the Admin Portal.</p>
      <p>Contact NHS login support to request access.</p>
      
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="http://admin.dev.login.nhs.uk/">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Back to login</a>
      </div>

    </div>
  </div>
{% endblock %}