{% extends 'layout.html' %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search">Search</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="result">Search result</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="verification-attempts">PYI verification attempts</a></li>
        <li class="nhsuk-breadcrumb__item">PYI files</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="verification-attempts">Back to: PYI verification attempts</a></p>
    </div>
  </nav>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-u-margin-bottom-4">

        <h1 class="nhsuk-heading-l">
          PYI files
        </h1>

        <p>
          Verification attempt ID<br />
          <span class="nhsuk-hint">
            {{ (data['vericationid'] | default('2ead33a3-bb11-cd1c-ab11-33bcd33aaed3')) }}
          </span>
        </p>
      
      </div>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <p>To view a file, click on a file name.<br />
      To download a file, right-click on the file name and choose: 'Save link as' or 'Save target as' or 'Download'.</p>

      <table role="table" class="nhsuk-table-responsive">
        <caption class="nhsuk-table__caption"></caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" scope="col">
              File name
            </th>
            <th role="columnheader" scope="col">
              Status
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">File name </span><a href="https://place-hold.it/500x500" target="_blank">2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_photoid</a>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status </span>Available
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">File name </span><a href="https://place-hold.it/500x500" target="_blank">2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_faceextract</a>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status </span>Available
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">File name </span>2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_video
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status </span>
              {% if data['files-requested'] == "y" %}
                Requested
              {% else %}
                Archived
              {% endif %}
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">File name </span>2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_2ead33a3-bb11-cd1c-ab11-33bcd33aaed3_photoback
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status </span>
              {% if data['files-requested'] == "y" %}
                Requested
              {% else %}
                Archived
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>

      <form class="nhsuk-u-padding-top-4" method="POST" action="file-retrieve?files-requested=y">
        {% if data['files-requested'] == "y" %}
        {% else %}
          <button class="nhsuk-button" type="submit">Request all archived files</button>
        {% endif %}
      </form>

    </div>
  </div>

{% endblock %}
