{% extends 'layout.html' %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Admin Portal prototype
      </h1>

      <ul>
        <li><a href="search">Scenario 1 - user is currently active</a></li>
        <li><a href="search?status=Disabled&reason=P5%20registration&incident-number=93848472">Scenario 2 - user is currently disabled</a></li>
        <li><a href="search?history=1&status=Active">Scenario 3 - user is currently active but has history</a></li>
        <li><a href="error-noresults?search-email=test@test.com">Error - no accounts found</a></li>
        <li><a href="error-technical">Error - technical problem</a></li>
        <li><a href="error-inputs"><s>Error - invalid input</s></a></li>
      </ul>

    </div>
  </div>
{% endblock %}
