{% extends 'layout.html' %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">
        Admin Portal prototype
      </h1>

      <ul>
        <li><a href="search?user-group=&status=">Search for an account (admin user)</a></li>
        <li><a href="search?user-group=nsd&status=">Search for an account (NSD user)</a></li>
        <li><a href="disable?user-group=&status=">Disable an account</a></li>
        <li><a href="enable?user-group=&status=Disabled">Enable an account</a></li>
        <li><a href="cleanse?user-group=&status=Disabled">Cleanse an account</a></li>
        <li><a href="change-mobile?user-group=&status=">Change phone number</a></li>
        <li><a href="verification-attempts?user-group=&status=">Retrieve PYI evidence files - version 1</a></li>
        <li><a href="verification-attempts?user-group=&status=&version=2">Retrieve PYI evidence files - version 2</a></li>
      </ul>

      <h2 class="nhsuk-heading-m">Error designs</h2>
      <ul>
        <li><a href="error-usergroup">Error - user not assigned to usergroup</a></li>
        <li><a href="error-noresults?search-email=test@test.com">Error - no accounts found</a></li>
        <li><a href="error-technical-search">Error - search technical problem</a></li>
        <li><a href="error-technical-disable">Error - disable technical problem</a></li>
        <li><a href="error-technical-cleanse">Error - cleanse technical problem</a></li>
        <li><a href="error-disabled-other">Error 2014 - account disabled</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
