{% extends 'layout.html' %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Admin Portal prototype
      </h1>

      <ul>
        <li><a href="search">Search for a user</a></li>
        <li><a href="error-noresults?search-email=test@test.com">Error - no accounts found</a></li>
        <li><a href="error-technical">Error - technical problem</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
