{% extends 'layout.html' %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Search for a user account</h1>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            What is this service?
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>This services enables you to find an NHS login user account and then perform the following actions depending on whether you have permission to perform them:</p>
          <ul>
            <li>Disable the account - so that the user can no longer log in.</li>
            <li>Cleanse the account - so that the account is no longer associated with any demographic details and the proofing level goes down to 0.</li>
          </ul>
          <p></p>
        </div>
      </details>
      
      <div class="nhsuk-form-group">


        <label class="nhsuk-label" for="three-quarters">
          Email address
        </label>
        <input class="nhsuk-input nhsuk-u-width-three-quarters" id="three-quarters" name="three-quarters" type="text" value="tim.peak2@hotmail.com">
    
    
    {% if data['user-group'] === "admin" %}

      <p class="nhsuk-u-margin-top-4">or</p>
    
        <label class="nhsuk-label" for="three-quarters">
          Account ID
        </label>
        <span class="nhsuk-hint">
          Example: 2eee22a1-bb11-cd1c-ab11-11bcd22aaed2
        </span>
        <input class="nhsuk-input nhsuk-u-width-three-quarters" id="three-quarters" name="three-quarters" type="text">
    
    {% endif %}

      </div>
      <a href="result" class="nhsuk-button" type="submit">
        Search
      </a>
    </div>
    </div>
  </div>
{% endblock %}
