{% extends 'layout.html' %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Disable a live user account
      </h1>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            What is this service?
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>This services enables you to find an NHS login user account and disable it.</p>
          <p>Users with disabled accounts cannot use NHS login and will be shown an error message if they try to log in.</p>
          <p>Only NHS login second line support and NHS login developers can enable accounts that are disabled.</p>
        </div>
      </details>

      <h2>
        Search for a user
      </h2>

      <form action="result" method="POST">

        <div class="nhsuk-form-group">

          <label class="nhsuk-label" for="search-email">
            Email address
          </label>
          <input class="nhsuk-input" id="search-email" name="search-email" type="text" value="tim.peak2@hotmail.com">

        </div>

        <p class="nhsuk-u-margin-top-4">or</p>

        <div class="nhsuk-form-group">

          <label class="nhsuk-label" for="search-id">
            Account ID
          </label>
          <span class="nhsuk-hint">
            For example: 2eee22a1-bb11-cd1c-ab11-11bcd22aaed2
          </span>
          <input class="nhsuk-input" id="search-id" name="search-id" type="text">

        </div>

        <div class="nhsuk-form-group">
          <button class="nhsuk-button" type="submit">
            Search
          </button>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
