{% extends 'layout-nav.html' %}
{% set pageSection = "Manage user notifications" %}
{% block pageTitle %}
What is the impact on the service?
{% endblock %}

<!-- this page is only visible to prod-accessreport group -->

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications">Manage user notifications</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/user-alerts/manage-user-alerts">Manage user alerts</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/user-alerts/turn-on-user-alert/select-incident">Incident types</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/user-alerts/turn-on-user-alert/supplier-incidents/supplier-incidents" >Supplier incidents</a></li>
        <li class="nhsuk-breadcrumb__item">Incident details</li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

{% block content %}

<style>
  a:visited { 
      color:	#005eb8; 
      }
</style>
<div class="nhsuk-width-container">
  <h1 class="nhsuk-heading-s nhsuk-u-padding-bottom-2" style="color: 	#4c6272; ">NAM incident</h1>
</div>



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full"> 


      {% if data.change === 'true' %}
      <form action="incident-details" method="post">
        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                What is the impact on the service?
              </h1>
            </legend>
        
            <div class="nhsuk-radios nhsuk-u-margin-top-2">
              
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="can" name="impact" type="radio" value="Service is not working as expected" aria-describedby="can-continue-item-hint">
                <label class="nhsuk-label nhsuk-radios__label" for="can-continue">
                  Service is not working as expected
                </label>
                <div class="nhsuk-hint nhsuk-radios__hint" id="can-continue-item-hint">
                  Users may or may not be able to continue their journey
                </div>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="cannot" name="impact" type="radio" value="Service is down" aria-describedby="cannot-continue-item-hint">
                <label class="nhsuk-label nhsuk-radios__label" for="cannot-continue">
                  Service is down
                </label>
                <div class="nhsuk-hint nhsuk-radios__hint" id="cannot-continue-item-hint">
                  Users cannot continue their journey
                </div>
              </div>
        
            </div>
          </fieldset>
        </div>
        <button class="nhsuk-button" type="submit">
        Continue with changes
        </button>
      </form>
      <p>
        <a class="nhsuk-link" href="incident-details">
          Cancel changes and return to incident details
        </a>
      </p> 
      {% else %}
      <form action="incident-details" method="post" onsubmit="return(validate());">
        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                What is the impact on the service?
              </h1>
            </legend>
        
            <div class="nhsuk-radios nhsuk-u-margin-top-2" id="impact-radios">
              <span class="nhsuk-error-message" id="impact-error" style="display: none;">
                Select what the impact on the service is
              </span>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="can" name="impact" type="radio" value="Service is not working as expected" aria-describedby="can-continue-item-hint">
                <label class="nhsuk-label nhsuk-radios__label" for="can-continue">
                  Service is not working as expected
                </label>
                <div class="nhsuk-hint nhsuk-radios__hint" id="can-continue-item-hint">
                  Users may or may not be able to continue their journey
                </div>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="cannot" name="impact" type="radio" value="Service is down" aria-describedby="cannot-continue-item-hint">
                <label class="nhsuk-label nhsuk-radios__label" for="cannot-continue">
                  Service is down
                </label>
                <div class="nhsuk-hint nhsuk-radios__hint" id="cannot-continue-item-hint">
                  Users cannot continue their journey
                </div>
              </div>
        
            </div>
          </fieldset>
        </div>
        <button class="nhsuk-button" type="submit">
          Continue
        </button>
      </form>
      {% endif %}
    </div>
  </div>


<div class="nhsuk-back-link nhsuk-u-margin-top-2" style="{% if data.change === 'true' %}display:none;{% else %} display:block;{% endif %}">
  <a class="nhsuk-back-link__link" href="{% if data['is-it-planned'] === 'No' %}/notifications/user-alerts/turn-on-user-alert/supplier-incidents/is-it-planned{% elif data['do-you-know-end-date-time'] === 'dontknow' %}/notifications/user-alerts/turn-on-user-alert/supplier-incidents/planned-maintenance{% else %}/notifications/user-alerts/turn-on-user-alert/supplier-incidents/planned-date-time{% endif %}">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Back to: 
    {% if data['is-it-planned'] === 'No' %}
    Is it planned maintenance?
    {% endif %}
    {% if data['is-it-planned'] === 'Yes' %}
    {% if data['do-you-know-end-date-time'] === 'dontknow' %}
    Do you know when the maintenance ends?
    {% else %}
    When does the maintenance end?
    {% endif %}
    {% endif %}
  </a>
</div>

<script>

function validate() {
    
      if( document.querySelectorAll('input[type="radio"]:checked').length === 0 ) {
          document.getElementById('impact-error').style.display = 'block';
          document.getElementById('impact-radios').classList.add("nhsuk-form-group--error");
          return false;
      }
    
      return( true );
    }

</script>

        
        
{% endblock %}


