{% extends 'layout-nav.html' %}
{% set pageSection = "Manage user notifications" %}

<!-- this page is only visible to prod-accessreport group -->

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications">Manage user notifications</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/user-alerts/manage-user-alerts">Manage user alerts</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/user-alerts/schedule-user-alert/select-incident">Incident types</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/user-alerts/schedule-user-alert/select-incident/supplier-incidents">Supplier incidents</a></li>
        <li class="nhsuk-breadcrumb__item">Incident details</li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">


{% endblock %}

{% block content %}

<style>

	a:visited { 
      color:	#005eb8; 
      }

	.inp-wrapper {
	  display: flex;
	  gap: 3em;
	}

	label {
	  color: #212b32;
	  display: block;
	}


	.timeend {
	  font-size: 19px;
	  padding: 16px;
	  color: #212b32;
	  border:transparent solid 2px;
	  outline: transparent solid 2px;
	  border-radius: 0.2em;
	  margin-top: 0.6em;
	  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
	}

	.timeend.default {
	  font-size: 19px;
	  padding: 1em;
	  color: #212b32;
	  border:transparent solid 2px;
	  outline: transparent solid 2px;
	  border-radius: 0.2em;
	  margin-top: 0.6em;
	  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
	}

	.timeend:focus{
		border: 2px solid 	#212b32;
  		outline: 2px solid 	#ffeb3b;
	}

	.dateend {
	  font-size: 19px;
	  padding: 16px;
	  color: #212b32;
	  border:transparent solid 2px;
	  outline: transparent solid 2px;
	  border-radius: 0.2em;
	  margin-top: 0.6em;
	  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
	}

	.dateend.default {
	  font-size: 19px;
	  padding: 16px;
	  color: #212b32;
	  border:transparent solid 2px;
	  outline: transparent solid 2px;
	  border-radius: 0.2em;
	  margin-top: 0.6em;
	  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
	}

	.dateend:focus{
		border: 2px solid 	#212b32;
  		outline: 2px solid 	#ffeb3b;
	}



	::-webkit-calendar-picker-indicator {
	  background-color: #d8dde0;
	  padding: 0.2em;
	  cursor: pointer;
	  border-radius: 0.1em;
	  
	}
.dates {
  display: none;
  background-color: #FFF;
  width: 80%;
  height: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
}


.dates.active {
  display: block;
  float: left;
  width: 80%;
  height: 100%;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.dates .month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid 	#d8dde0;
  color: #212b32;
  font-size: 19px;
  padding-top: 8px;
  padding-bottom: 8px;
  
}

.dates .month .arrows {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #212b32;
	font-size: 22px;
}

.dates .month .arrows:hover {
  background-color: #d8dde0;
  color: #212b32;
}

.dates .month .arrows:active {
  background-color: #d8dde0;
  color: #212b32;
}

.dates .days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	height: 200px;
	width: 100%;
	cursor: pointer;
}


.dates .days .day { 
	display: flex;
	justify-content: center;
	align-items: center;
	color: #212b32;

    font-size:19px;
}


.dates .days .day:hover {
	background-color: #d8dde0;
}


.dates .days .day.selected {
	background-color: #212b32;
    color:#FFF;
}


.dates .days .day.selected:hover {
	background-color: #212b32;
    color:#FFF;
}


	
</style>

<div class="nhsuk-width-container">
	<h1 class="nhsuk-heading-s nhsuk-u-padding-bottom-2" style="color: 	#4c6272;">NAM incident</h1>
</div>
  
  <div class="nhsuk-back-link nhsuk-u-margin-bottom-4" style="{% if data.change === 'true' %}display:none;{% else %} display:block;{% endif %}">
	<a class="nhsuk-back-link__link" href="#">
	  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
		<path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
	  </svg>
	  Back to: Is it planned maintenance?
	</a>
</div>

  

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds ">
        <h1 class="nhsuk-heading-l">Do you know when the maintenance ends?</h1>
    </div>
</div>



<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds ">

   {% if data.change === 'true' %}
	<form action="/date-time-change" method="post">
		<div class="nhsuk-form-group">
			<div class="nhsuk-radios">

				<div class="nhsuk-radios__item">
					<input class="nhsuk-radios__input" id="dateandtime" name="do-you-know-end-date-time" type="radio" value="both">
					<label class="nhsuk-label nhsuk-radios__label" for="dateandtime">
					Yes, I know the date and time
					</label>
				</div>

		
				<div class="nhsuk-radios__item">
				<input class="nhsuk-radios__input" id="dateandtime" name="do-you-know-end-date-time" type="radio" value="date">
				<label class="nhsuk-label nhsuk-radios__label" for="date">
					Yes, I only know the date
				</label>
				</div>
		
				<div class="nhsuk-radios__item">
					<input class="nhsuk-radios__input" id="dateandtime" name="do-you-know-end-date-time" type="radio" value="dontknow">
					<label class="nhsuk-label nhsuk-radios__label" for="dontknow">
						No, I don't know when the maintenance ends
					</label>
					<div class="nhsuk-hint nhsuk-radios__hint">
						You can still turn on the alert and add this information later
					</div>
				</div>
		
			</div>
		</div>


<div class="nhsuk-grid-row nhsuk-u-margin-top-4">
	<div class="nhsuk-grid-column-two-thirds">
		
			<button class="nhsuk-button" type="submit">
				Continue with changes
			</button>
		<p>
			<a class="nhsuk-link" href="/notifications/user-alerts/turn-on-user-alert/supplier-incidents/incident-details">
			Cancel changes and return to incident details
			</a>
		</p>
	</div>
</div>
</form>

{% else %}

<form action="/date-time" method="post">
	<div class="nhsuk-form-group">
		<div class="nhsuk-radios">

			<div class="nhsuk-radios__item">
				<input class="nhsuk-radios__input" id="dateandtime" name="do-you-know-end-date-time" type="radio" value="both">
				<label class="nhsuk-label nhsuk-radios__label" for="dateandtime">
				Yes, I know the date and time
				</label>
			</div>

	
			<div class="nhsuk-radios__item">
			<input class="nhsuk-radios__input" id="dateandtime" name="do-you-know-end-date-time" type="radio" value="date">
			<label class="nhsuk-label nhsuk-radios__label" for="date">
				Yes, I only know the date
			</label>
			</div>
	
			<div class="nhsuk-radios__item">
				<input class="nhsuk-radios__input" id="dateandtime" name="do-you-know-end-date-time" type="radio" value="dontknow">
				<label class="nhsuk-label nhsuk-radios__label" for="dontknow">
					No, I don't know when the maintenance ends
				</label>
				<div class="nhsuk-hint nhsuk-radios__hint">
					You can still turn on the alert and add this information later
				</div>
			</div>
	
		</div>
	</div>

<div class="nhsuk-grid-row nhsuk-u-margin-top-4">
	<div class="nhsuk-grid-column-one-half">
		
			<button class="nhsuk-button" type="submit">
			  Continue
			</button>
		  
	</div>
</div>
</form>
{% endif %}

</div>
</div>

<script>




const targetDiv = document.getElementById("calendar");
const input1 = document.getElementById("dateend");
const date1 = document.getElementById("date");
const btn3 = document.getElementById("date-selected");

date1.onclick = function () {
  if (targetDiv.style.display !== "block") {
    targetDiv.style.display = "block";
  } else {
    targetDiv.style.display = "none";
  }
};

btn3.onclick = function () {
  if (targetDiv.style.display !== "none") {
    targetDiv.style.display = "none";
  } else {
    targetDiv.style.display = "block";
  }
  document.getElementById("dateend").placeholder ='02/02/2022'
};



</script>


<script>


	const date_picker_element = document.querySelector('.date-wrapper');
	const selected_date_element = document.querySelector('.selected-date');
	const dates_element = document.querySelector('.dates');
	const mth_element = document.querySelector('.dates .month .mth');
	const next_mth_element = document.querySelector('.dates .month .next-mth');
	const prev_mth_element = document.querySelector('.dates .month .prev-mth');
	const days_element = document.querySelector('.dates .days');
	
	
	
	const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
	
	let date = new Date();
	let day = date.getDate();
	let month = date.getMonth();
	let year = date.getFullYear();
	
	let selectedDate = date;
	let selectedDay = day;
	let selectedMonth = month;
	let selectedYear = year;
	
	mth_element.textContent = months[month] + ' ' + year;
	
	selected_date_element.textContent = formatDate(date);
	selected_date_element.dataset.value = selectedDate;
	
	populateDates();
	
	// EVENT LISTENERS
	date_picker_element.addEventListener('click', toggleDatePicker);
	next_mth_element.addEventListener('click', goToNextMonth);
	prev_mth_element.addEventListener('click', goToPrevMonth);
	
	// FUNCTIONS
	function toggleDatePicker (e) {
		if (!checkEventPathForClass(e.path, 'dates')) {
			dates_element.classList.toggle('active');
		selected_date_element.classList.toggle('active');
		}
	}
	
	function goToNextMonth (e) {
		month++;
		if (month > 11) {
			month = 0;
			year++;
		}
		mth_element.textContent = months[month] + ' ' + year;
		populateDates();
	}
	
	function goToPrevMonth (e) {
		month--;
		if (month < 0) {
			month = 11;
			year--;
		}
		mth_element.textContent = months[month] + ' ' + year;
		populateDates();
	}
	
	function populateDates (e) {
		days_element.innerHTML = '';
		let amount_days = 31;
	
		if (month == 1) {
			amount_days = 28;
		}
	
		for (let i = 0; i < amount_days; i++) {
			const day_element = document.createElement('div');
			day_element.classList.add('day');
			day_element.textContent = i + 1;
	
			if (selectedDay == (i + 1) && selectedYear == year && selectedMonth == month) {
				day_element.classList.add('selected');
			}
	
			day_element.addEventListener('click', function () {
				selectedDate = new Date(year + '-' + (month + 1) + '-' + (i + 1));
				selectedDay = (i + 1);
				selectedMonth = month;
				selectedYear = year;
	
				selected_date_element.textContent = formatDate(selectedDate);
				selected_date_element.dataset.value = selectedDate;
	
				populateDates();
			});
	
			days_element.appendChild(day_element);
		}
	}
	
	// HELPER FUNCTIONS
	function checkEventPathForClass (path, selector) {
		for (let i = 0; i < path.length; i++) {
			if (path[i].classList && path[i].classList.contains(selector)) {
				return true;
			}
		}
		
		return false;
	}
	function formatDate (d) {
		let day = d.getDate();
		if (day < 10) {
			day = '0' + day;
		}
	
		let month = d.getMonth() + 1;
		if (month < 10) {
			month = '0' + month;
		}
	
		let year = d.getFullYear();
	
		return day + ' / ' + month + ' / ' + year;
	}
	
	
</script>   


        
{% endblock %}


