{% extends 'layout-nav.html' %}
{% set pageSection = "Manage user notifications" %}

<!-- this page is only visible to prod-accessreport group -->

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications">Manage user notifications</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/user-alerts/manage-user-alerts">Manage user alerts</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/user-alerts/schedule-user-alert/select-incident">Incident types</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/user-alerts/schedule-user-alert/select-incident/supplier-incidents">Supplier incidents</a></li>
        <li class="nhsuk-breadcrumb__item">Incident details</li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">


{% endblock %}

{% block content %}

<style>

	a:visited { 
	  color:	#005eb8; 
	  }
	
	.datetime-wrapper {
	  display: flex;
	  gap:32px;
	}

	label {
	  color: #212b32;
	  display: block;
	}	

.dateend {
	  font-size: 19px;
	  width:200px;
	  padding: 16px;
	  color: #212b32;
	  border:transparent solid 2px;
	  outline: transparent solid 2px;
	  border-radius: 0.2em;
	  margin-top: 0.6em;
	  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.dateend:focus{
  border: 2px solid 	#212b32;
  outline: 2px solid 	#ffeb3b;
}

.timeend {
	  font-size: 19px;
	  text-align: center;
	  width:132px;
	  padding: 16px;
	  color: #212b32;
	  border:transparent solid 2px;
	  outline: transparent solid 2px;
	  border-radius: 0.2em;
	  margin-top: 0.6em;
	  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}


.timeend:focus{
	border: 2px solid 	#212b32;
	outline: 2px solid 	#ffeb3b;
}

.times {
  background-color: #FFF;
  margin-left:232px;
  margin-bottom: 24px;
  width: 240px;
  max-height: 300px;
  overflow-y: scroll;
  display:flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.hours {
	margin:16px;
	margin-top:0px;
	padding-top:16px;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	cursor: pointer;
	height:0%;
}

.hour{
	width:72px;
	padding:8px;
	margin:4px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #212b32;
	font-size:19px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 0.2em;
}

.hour:hover{
	width:72px;
	padding:8px;
	margin:4px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #005eb8;
	font-size:19px;
	background-color: #b3daff;
	border: 1px solid #b3daff;
	border-radius: 0.2em;
}

.hour-selected{
	width:72px;
	padding:8px;
	margin:4px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #005eb8;
	font-size:19px;
	background-color: #b3daff;
	border: 1px solid #b3daff;
	border-radius: 0.2em;
}

.am{
	background-color: #fff;
	color:#768692;
	border: 1px solid #d8dde0;
	font-size: 19px;
	padding:16px;
	border-radius: 0.2em;
	width: 72px;
	position: absolute;
	margin-top: 80px;
	cursor:pointer;
}

.am-selected{
	background-color: #1a8fff;
	color:#fff;
	border: none;
	font-size: 19px;
	font-weight:900;
	padding: 16px;
	border-radius: 0.2em;
	width: 72px;
	position: absolute;
	margin-top: 80px;
}

.pm{
	margin-top:16px;
	background-color: #fff;
	color:#768692;
	border: 1px solid #d8dde0;
	font-size: 19px;
	padding:16px;
	border-radius: 0.2em;
	width: 72px;
	position: absolute;
	margin-bottom: 96px;
	cursor:pointer;
}

.pm-selected{
	margin-top:16px;
	background-color: #1a8fff;
	color:#fff;
	border: none;
	font-size: 19px;
	font-weight:900;
	padding: 16px;
	border-radius: 0.2em;
	width: 72px;
	position: absolute;
	margin-bottom: 96px;
}

.time-picker-done-button{
	display:none; 
	height: 0px; 
	width: 240px; 
	background-color:#fff; 
	position:absolute; 
	margin-left:232px; 
	font-size:19px; 
	text-align: right; 
	padding-right: 36px; 
	padding-top: 16px;
}

.datescontainer {
  background-color: #FFF;
  width: fit-content;
  height: fit-content;
  margin-top: 24px;
  margin-bottom: 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.dayscontainer {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	box-shadow: none;
	padding:8px;
}

.daynew { 
	padding:8px;
	padding-top:4px;
	padding-bottom:4px;
	margin:4px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #212b32;
	font-size:19px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 0.2em;
	cursor: pointer;
}

.daypast { 
	padding:8px;
	padding-top:4px;
	padding-bottom:4px;
	margin:4px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #aeb7bd;
	font-size:19px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 0.2em;
	pointer-events: none;
}

.daynew:hover {
	background-color: #b3daff;
	color: #005eb8;
}


.dayselected {
	background-color: #1a8fff;
	color:#FFF;
	padding:8px;
	padding-top:4px;
	padding-bottom:4px;
	margin:4px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:19px;
	border: 1px solid transparent;
	border-radius: 0.2em;
	cursor: pointer;
}


.dayselected:hover {
	background-color: #1a8fff;
	color:#FFF;
}

.datescontainer .month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid 	#d8dde0;
  color: #1a8fff;
  font-size: 22px;
  font-weight: 600;
  padding-top: 8px;
  padding-bottom: 8px;
  
}

.arrows {
	width: 40px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #212b32;
	font-size: 24px;
	cursor:pointer;
}

.arrows-disabled {
	width: 40px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #aeb7bd;
	font-size: 24px;
	pointer-events: none;
}

.arrows:hover {
  background-color: #b3daff;
  color: #212b32;
}

.arrows:active {
  background-color: #b3daff;
  color: #212b32;
}
	
</style>

<div class="nhsuk-width-container">
	<h1 class="nhsuk-heading-s nhsuk-u-padding-bottom-2" style="color: 	#4c6272;">NAM incident</h1>
</div>

  

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds ">
        <h1 class="nhsuk-heading-l">When does the maintenance end?</h1>
    </div>
</div>

<div class="nhsuk-grid-row ">
	<div class="nhsuk-grid-column-two-thirds" >
	  <p class="nhsuk-hint">
		This will be displayed on user alerts
	  </p>
	</div>
</div> 


<div class="nhsuk-grid-row nhsuk-u-margin-top-2">
	<div class="nhsuk-grid-column-full">
		
		<span class="nhsuk-error-message" id="date-time-error" style="display: none;">
			{% if data['do-you-know-end-date-time'] === 'both' %}
			Enter the date and time when the maintenance ends
			{% else %}
			Enter the date when the maintenance ends
			{% endif %}
		</span>
		
	<div class="datetime-wrapper" id="date-time-field">
		<div class="date-wrapper" id="date">
			<label class="nhsuk-label" for="date">Date</label>
			<input class="dateend" type="text" placeholder="DD/MM/YYYY" id="dateinput"/> 
		</div>

		{% if data['do-you-know-end-date-time'] === 'both' %}

		<div class="time-wrapper" id="time" >
			<label class="nhsuk-label" for="date">Time</label>
			<input class="timeend" placeholder="--:--" id="timeinput" readonly/>
		</div>
		{% endif %}
		
	</div>
	{% if data['do-you-know-end-date-time'] === 'both' %}
	<div style="width:50%" >

		<div class="time-picker-done-button" id="time-picker-done-div">
			<a style="cursor:pointer;" id="time-picker-done-button">Done</a>
		</div>

		<div class="times nhsuk-u-margin-top-4" id="timepicker" style="display:none;">
			
			<div class="hours" style="width:50%;" id="hour">
				<p class="hour">12:00</p><p class="hour">12:30</p><p class="hour">1:00</p><p class="hour" id="time-selected">1:30</p><p class="hour">2:00</p>
				<p class="hour">2:30</p><p class="hour">3:00</p><p class="hour">3:30</p><p class="hour">4:00</p><p class="hour">4:30</p>
				<p class="hour">5:00</p><p class="hour">5:30</p><p class="hour">6:00</p><p class="hour">6:30</p><p class="hour">7:00</p><p class="hour">7:30</p>
				<p class="hour">8:00</p><p class="hour">8:30</p><p class="hour">9:00</p><p class="hour">9:30</p><p class="hour">10:00</p><p class="hour">10:30</p>
				<p class="hour">11:00</p><p class="hour">11:30</p>
			</div>	

			<div style="width:50%; height: 300px;">
				<div style="height: 150px;">
				<button class="am-selected" id="am" onclick="amButton()">AM</button>
				</div>
				<div style="height: 150px;">
				<button class="pm" id="pm" onclick="pmButton()">PM</button>
				</div>
			</div>


		</div>
		
	</div>
	{% endif %}
	<div style="width:50%">
		<div class="datescontainer nhsuk-u-margin-top-4 dates" id="calendar" style="display:none;">
			<div class="month">
				<div class="arrows-disabled">&lt;</div>
				<div class="mth">November 2022</div>
				<div class="arrows">&gt;</div>
			</div>
			<div class="dayscontainer" style="width:50%;" id="date-selected">
					<p class="daypast"> </p><p class="daypast"> </p><p class="daypast"> </p><p class="daypast"> </p>
					<p class="daypast">1</p><p class="daypast">2</p><p class="daypast">3</p><p class="daypast">4</p><p class="daypast">5</p><p class="daypast">6</p><p class="daypast">7</p>
					<p class="daypast">8</p><p class="daypast">9</p><p class="daynew dayselected" id="current">10</p><p class="daynew">11</p><p class="daynew">12</p><p class="daynew">13</p><p class="daynew">14</p>
					<p class="daynew" id="day-selected">15</p><p class="daynew">16</p><p class="daynew">17</p><p class="daynew">18</p><p class="daynew">19</p><p class="daynew">20</p><p class="daynew">21</p>
					<p class="daynew">22</p><p class="daynew">23</p><p class="daynew">24</p><p class="daynew">25</p><p class="daynew">26</p><p class="daynew">27</p><p class="daynew">28</p>
					<p class="daynew">29</p><p class="daynew">30</p><p class="daynew">31</p>
			</div>	
		</div>
	</div>	
		
	</div>	

	
</div>

{% if data.change === 'true' %}

<div class="nhsuk-grid-row nhsuk-u-margin-top-4">
	<div class="nhsuk-grid-column-two-thirds">
		<form action="incident-details" method="post">
			<button class="nhsuk-button" type="submit">
				Continue with changes
			</button>
		</form>
		<p>
			<a class="nhsuk-link" href="/notifications/user-alerts/turn-on-user-alert/supplier-incidents/incident-details">
			Cancel changes and return to incident details
			</a>
		  </p>
	</div>
</div>
   

{% else %}
<div class="nhsuk-grid-row nhsuk-u-margin-top-4">
	<div class="nhsuk-grid-column-one-half">
		<form action="impact-level" method="post" onsubmit="return(validate());">
			<button class="nhsuk-button" type="submit">
			  Continue
			</button>
		  </form>
	</div>
</div>
{% endif %}


<div class="nhsuk-back-link nhsuk-u-margin-top-2">
	<a class="nhsuk-back-link__link" href="#">
	  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
		<path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
	  </svg>
	  Back to: Do you know when the maintenance ends?
	</a>
</div>


<script>
	
	const calendar = document.getElementById("calendar");
	const date1 = document.getElementById("dateinput");
	const btn3 = document.getElementById("date-selected");
	const input2 = document.getElementById("timeinput");
	const time = document.getElementById("timepicker");
	const doneButtonDiv = document.getElementById("time-picker-done-div");
	const doneButton = document.getElementById("time-picker-done-button");
	const btn4 = document.getElementById("hour");
	
	date1.onclick = function () {
		calendar.style.display = "block";
	};
	
	btn3.onclick = function () {
	  calendar.style.display = "none";
	  document.getElementById("dateinput").value ='15/11/2022'
	  document.getElementById('current').classList.remove("dayselected");
	  document.getElementById('day-selected').classList.add("dayselected");
	};

	btn4.onclick = function () {
	document.getElementById('time-selected').classList.add("hour-selected");
	if (document.getElementById("pm").className !== "pm-selected") {
	document.getElementById("timeinput").value ='1.30 AM';
	} else {
	document.getElementById("timeinput").value ='1.30 PM';
	}
	};

	doneButton.onclick = function () {
	time.style.display = "none";
	doneButtonDiv.style.display = "none";
	if (document.getElementById("pm").className !== "pm-selected") {
	document.getElementById("timeinput").value ='1.30 AM';
	} else {
	document.getElementById("timeinput").value ='1.30 PM';
	}
	};
	
	input2.onclick = function () {
		time.style.display = "flex";
		doneButtonDiv.style.display = "block";
	  if (document.getElementById("timeinput").value ='--:--') {
		 document.getElementById("timeinput").value =' ';
	  } 
	  
	};

	function amButton() {

	var am = document.getElementById("am");
  	var pm = document.getElementById("pm");

  	document.getElementById("am").className = "am-selected";
  	document.getElementById("pm").className = "pm";
	};

	function pmButton() {

	var am = document.getElementById("am");
  	var pm = document.getElementById("pm");

  	document.getElementById("am").className = "am";
  	document.getElementById("pm").className = "pm-selected";
	};

	document.addEventListener('mouseup', function(e) {
    if (!calendar.contains(e.target)) {
        calendar.style.display = 'none';
    }
	if (!time.contains(e.target)) {
        time.style.display = 'none';
		doneButtonDiv.style.display = 'none';
    }
	});

</script>
	

<script>

function validate() {
	if( document.getElementById('dateinput').value == "" ) {
      document.getElementById('date-time-error').style.display = 'block';
      document.getElementById('date-time-field').classList.add("nhsuk-form-group--error");
      document.getElementById('dateinput').classList.add("nhsuk-input--error");
      document.getElementById('dateinput').focus();
      return false;
  	}

	  if( document.getElementById('timeinput').value == "" ) {
      document.getElementById('date-time-error').style.display = 'block';
      document.getElementById('date-time-field').classList.add("nhsuk-form-group--error");
      document.getElementById('timeinput').classList.add("nhsuk-input--error");
      document.getElementById('timeinput').focus();
      return false;
  	}
}
</script>
        
{% endblock %}


