{% extends 'layout-nav.html' %}
{% set pageSection = "Manage user notifications" %}
{% block pageTitle %}
{% if data['incident-number'] === 'No' %}
Add support reference number
{% else %}
Do you know the support reference number?
{% endif %}
{% endblock %}

<!-- this page is only visible to prod-accessreport group -->

{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications">Manage user notifications</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/user-alerts/manage-user-alerts">Manage user alerts</a></li>
      {% if data['incident-number'] === 'No' %}
      <li class="nhsuk-breadcrumb__item">Add support reference number</li>
      {% else %}
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/user-alerts/turn-on-user-alert/select-incident">Incident types</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/notifications/user-alerts/turn-on-user-alert/supplier-incidents/supplier-incidents">Supplier incidents</a></li>
      <li class="nhsuk-breadcrumb__item">Incident details</li>
      {% endif %}
    </ol>
  </div>
</nav>
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

{% block content %}


<style>
  a:visited { 
   color:	#005eb8; 
   }
</style>

<div class="nhsuk-width-container" style="{% if data['incident-number'] === 'No' %} display:none; {% else %} display:block {% endif %}">
  <h1 class="nhsuk-heading-s nhsuk-u-padding-bottom-2" style="color: 	#4c6272; ">NAM incident</h1>
</div>

{% if data['incident-number'] === 'No' %}
<div class="nhsuk-grid-row">
  
  <div class="nhsuk-grid-column-two-thirds">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
        Enter the support reference number for:
      </h1>
    </legend>
    {% if data['impact'] === 'Service is not working as expected' %}
    {% if data['is-it-planned'] === 'Yes' %}
    <h2 class="nhsuk-heading-l" style="line-height: 100%;">NAM is not working as expected</h2>
    <h2 class="nhsuk-heading-l nhsuk-u-padding-bottom-4" style="line-height: 0%;">Planned maintenance</h2>
    {% endif %}
    {% endif %}
    {% if data['impact'] === 'Service is not working as expected' %}
    {% if data['is-it-planned'] === 'No' %}
    <h2 class="nhsuk-heading-l nhsuk-u-padding-bottom-2">NAM is not working as expected</h2>
    {% endif %}
    {% endif %}
    {% if data['impact'] === 'Service is down' %}
    {% if data['is-it-planned'] === 'Yes' %}
    <h2 class="nhsuk-heading-l" style="line-height: 100%;">NAM is down</h2>
    <h2 class="nhsuk-heading-l nhsuk-u-padding-bottom-4" style="line-height: 0%;">Planned maintenance</h2>
    {% endif %}
    {% endif %}
    {% if data['impact'] === 'Service is down' %}
    {% if data['is-it-planned'] === 'No' %}
    <h2 class="nhsuk-heading-l nhsuk-u-padding-bottom-2">NAM is down</h2>
    {% endif %}
    {% endif %}
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-form-group" id="incident-number-container">
        <label class="nhsuk-label" for="incident-number">
          Support reference number 
        </label>
        <span class="nhsuk-error-message" id="add-incident-number-empty-error" style="display: none;">
          Enter support reference number for this incident
        </span>
        <span class="nhsuk-error-message nhsuk-u-padding-top-2" id="add-incident-number-format-error" style="display: none;">
          <p>Enter a valid support reference number</p>
          <ul>
            <li>ServiceNow incidents must start with 'INC' followed by 7 numbers (i.e. INC1234567)</li>
            <li>Cherwell incidents must start with '2' followed by 7 numbers (i.e. 21234567)</li>
          </ul>
        </span>
        <input class="nhsuk-input" id="add-incident-number-input" name="incident-number" type="text">
      </div>

  <a href="/notifications/user-alerts/manage-user-alerts?incident-number=true" >
    <button class="nhsuk-button" >
      Confirm and add support reference number
    </button>
  </a>
  <p>
    <a class="nhsuk-link" href="/notifications/user-alerts/manage-user-alerts" style="display:block;">
    Cancel and return to manage user alerts
    </a>
  </p>
</div>
</div>

{% else %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form role="form" action="is-it-planned" method="post" onsubmit="return(validate());">
      <div class="nhsuk-form-group ">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Do you know the support reference number for this incident?
            </h1>
          </legend>
      
          <div class="nhsuk-radios nhsuk-u-margin-top-2">
            <div class="nhsuk-radios nhsuk-radios--conditional" id="support-ref-number-radios">

            <span class="nhsuk-error-message" id="support-ref-number-error" style="display: none;">
              Select if you know the support reference number for this incident
            </span>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="incident-number" name="incident-number" type="radio" value="Yes" aria-controls="conditional-incident-number" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="incident-number">
                Yes, I know the support reference number
              </label>
            </div>
      
            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-incident-number">
      
              <div class="nhsuk-form-group" id="incident-number-field">
                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="incident-number">
                  Enter support reference number
                </label>
                <span class="nhsuk-error-message" id="incident-number-empty-error" style="display: none;">
                  Enter support reference number for this incident
                </span>
                <span class="nhsuk-error-message nhsuk-u-padding-top-2" id="incident-number-format-error" style="display: none;">
                  <p>Enter a valid support reference number</p>
                  <ul>
                    <li>ServiceNow incidents must start with 'INC' followed by 7 numbers (i.e. INC1234567)</li>
                    <li>Cherwell incidents must start with '2' followed by 7 numbers (i.e. 21234567)</li>
                  </ul>
                </span>
                <input class="nhsuk-input nhsuk-u-width-full" id="incident-number-input" name="incident-number-input" type="text">
              </div>
      
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="incident-number-no" name="incident-number" type="radio" value="No">
              <label class="nhsuk-label nhsuk-radios__label" for="incident-number">
                No, I don't know the support reference number
              </label>
              <div class="nhsuk-hint nhsuk-radios__hint">
                You can still turn on the alert and add this information later
              </div>
            </div>
            </div>
          </div>
        </fieldset>
      
      </div>
      
        <button class="nhsuk-button" type="submit">
          Continue
        </button>
    </form>

  </div>
</div> 
{% endif %}


<script>

  function validate() {
    
    var srnServiceNow = document.getElementById('incident-number-input').value;
    var serviceNowRGEX = /^inc[0-9]{7}/i;
    var serviceNowResult = serviceNowRGEX.test(srnServiceNow);

    var srnCherwell = document.getElementById('incident-number-input').value;
    var cherwellRGEX = /^2[0-9]{7}/i;
    var cherwellResult = cherwellRGEX.test(srnCherwell);
 

        if( document.getElementById('incident-number').checked ) {
            if( document.getElementById('incident-number-input').value == "" ) {
            document.getElementById('incident-number-empty-error').style.display = 'block';
            document.getElementById('incident-number-format-error').style.display = 'none';
            document.getElementById('incident-number-field').classList.add("nhsuk-form-group--error");
            document.getElementById('incident-number').classList.add("nhsuk-input--error");
            document.getElementById('incident-number-input').focus();
            document.getElementById('support-ref-number-error').style.display = 'none';
            document.getElementById('support-ref-number-radios').classList.remove("nhsuk-form-group--error");
            return false
            } else
            if(cherwellResult == false){
              if(serviceNowResult == false){
              document.getElementById('incident-number-empty-error').style.display = 'none';
              document.getElementById('incident-number-format-error').style.display = 'block';
              document.getElementById('incident-number-field').classList.add("nhsuk-form-group--error");
              document.getElementById('incident-number').classList.add("nhsuk-input--error");
              document.getElementById('incident-number-input').focus();
              document.getElementById('support-ref-number-error').style.display = 'none';
              document.getElementById('support-ref-number-radios').classList.remove("nhsuk-form-group--error");
              return false
              } else {
              return true
              }
            }
            
        } else

        if( document.querySelectorAll('input[type="radio"]:checked').length === 0 ) {
          document.getElementById('support-ref-number-error').style.display = 'block';
          document.getElementById('support-ref-number-radios').classList.add("nhsuk-form-group--error");
        
          return false; 
        }
        
      
        
  }

  
</script>

{% endblock %}


